<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Проекты</title>
    <link href="../../static/css/project_list.css" rel="stylesheet">
    <link href="../../static/css/custom-cursor.css" rel="stylesheet">
    <script src="../../static/js/custom-cursor.js"></script>
</head>
<body>

<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<header class="header">
    <div class="container">
        <div class="header-data">
            <div class="logo">
                <a href="#"><img class="hover" src="../../media/icons/logoHeader.png" alt="logo"></a>
                <a href="#"><h3>CITG</h3></a>
            </div>
            <div class="nav">
                <ul>
                    <li><a class="hover" href="http://127.0.0.1:8000/">Домой</a></li>
                    <li><a class="hover currentPage" href="http://127.0.0.1:8000/projects/">Проекты</a></li>
                    <li><a class="hover" href="http://127.0.0.1:8000/profile/{{ request.user.username }}/">Портфолио</a></li>
                    <li><a class="hover" href="http://127.0.0.1:8000/team/">Команда</a></li>
                </ul>
            </div>
            <div class="mail">
                <a class="hover" href="mailto:itsomemail@mail.com">itsomemail@mail.com</a>
            </div>
        </div>
    </div>
</header>
<main class="main">
    <div class="post-01">
        <div class="container">
            <div class="little-description">
                <div class="little-description_decoration-blur"></div>
                <h2>01</h2>
                <p>Реализованные проекты</p>
            </div>
        </div>
        <div class="projects-wrapper">
            <div class="container prj-container">
                {% for project in completed_projects %}
                <div class="project prj-element-of-array">
                    <a href="http://127.0.0.1:8000/project/{{ project.id }}/"><img alt="Photo" src="{{project.preview_pic.url}}"></a>
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="after-prjcts">
            <div class="after-prjcts_decoration-blur-purple"></div>
            <button id="load-more">Развернуть</button>
        </div>
    </div>
    <div class="post-02">
        <div class="container">
            <div class="little-description">
                <h2>02</h2>
                <p>Конкурсные работы</p>
            </div>
        </div>



        <div class="container prj-container">
            {% for project in contest_projects %}
            <div class="project project_no-shadow"><a href="http://127.0.0.1:8000/project/{{ project.id }}/"><img alt="Photo" src="{{ project.preview_pic.url }}"></a></div>
            {% endfor %}
        </div>
    </div>
    <div class="post-03">
        <div class="container">
            <div class="little-description">
                <h2>03</h2>
                <p>Проекты в разработке</p>
            </div>
        </div>
        <div class="container prj-container">
          {% for project in in_development %}


            <div class="prj-inDev">
                <div class="description-inDev-prj">
                    <h3>{{project.title}}</h3>
                    <p>{{ project.description}}</p>
                </div>
                <div class="logo-inDev-prj">
                    <a href="http://127.0.0.1:8000/project/{{ project.id }}/"><img src="{{ project.preview_pic.url }}" alt="image"></a>
                </div>
            </div>
            {% endfor %}

            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="container footer-container">
        <div class="links-to-social-networks">
            <div class="soc-nets telegram">
                <a href="#"><img src="../../media/icons/telegramm-icon.svg" alt="image of social network"></a>
                <p>Telegram</p>
            </div>
            <div class="soc-nets VKontakte">
               <a href="#"><img src="../../media/icons/vk-icon.svg" alt="image of social network"></a>
                <p>VKontakte</p>
            </div>
            <div class="soc-nets WhatsApp">
                <a href="#"><img src="../../media/icons/whatsapp-icon.svg" alt="image of social network"></a>
                <p>WhatsApp</p>
            </div>
        </div>
        <div class="contacts">
            <a href="tel:+123-456-789">+123.456.789</a>
            <p>Ростов-на-Дону</p>
            <p>пл. Ростовского Стрелкового</p>
            <p>Полка Народного Ополочения пл, 2.</p>
        </div>
        <div class="arrow-up">
            <div class="arrow-up-inside">
                <img src="../../media/imgs/arrow-up.svg" alt="image of arrow up">
            </div>
        </div>
    </div>
</footer>

    <script src="../../static/js/project_list.js"></script>
</body>
</html>

<!--     
    font-family: 'Asap', sans-serif;

    font-family: 'Exo 2', sans-serif;

    font-family: 'Inter', sa ns-serif;

    font-family: 'Karla', sans-serif;

    font-family: 'Roboto', sans-serif;
 -->