<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, minimum-scale=.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Проект</title>

    <link href="../../static/css/modules/reset.css" rel="stylesheet">
    <link href="../../static/css/modules/fonts.css" rel="stylesheet">
    <link href="../../static/css/modules/header.css" rel="stylesheet">
    <link href="../../static/css/project.css" rel="stylesheet">
    <link href="../../static/css/modules/footer_2.css" rel="stylesheet">
    <link href="../../static/css/splide/splide-core.css" rel="stylesheet">
    <link href="../../static/css/splide/splide.css" rel="stylesheet">
    <link href="../../static/css/modules/custom-cursor.css" rel="stylesheet">

    <link rel="stylesheet" href="../../static/css/popUpBlock/popUpBlock.css">

    <script src="../../static/js/libs/splide.js"></script>
    <script src="../../static/js/libs/splide-auto-scroll-extension.js"></script>
    <script src="../../static/js/custom-cursor.js"></script>
</head>
<body>
<div class="pop-up-block" data-touch="yes">
    <div class="pop-up-block__close-element"><img src="../../media/icons/close-icon.svg" alt="image" data-touch="yes"></div>
    <div class="pop-up-block__left-button" data-cursor-hover="1"><img src="../../media/icons/leftButton-slider.svg" alt="left button"></div>
    <div class="pop-up-block__image" data-dont-touch="true">
        <img src="" alt="there must be image)" data-dont-touch="true">
    </div>
    <div class="pop-up-block__video" data-dont-touch="true">
        <iframe src="#" frameborder="0" data-dont-touch="true"></iframe>
    </div>
    <div class="pop-up-block__right-button" data-cursor-hover="1"><img src="../../media/icons/rightButton-slider.svg" alt="right button"></div>
    <div class="loader">
        <svg class="progress-ring" width="120" height="120">
            <circle class="progress-ring__under-circle"
                    stroke="rgba(128, 128, 128, 0.2)"
                    stroke-width="4"
                    fill="transparent"
                    r="52"
                    cx="60"
                    cy="60"
                    stroke-dashoffset="0"
            />
            <circle class="progress-ring__circle"
                    stroke="#FF9736"
                    stroke-width="4"
                    fill="transparent"
                    r="52"
                    cx="60"
                    cy="60"
            />
        </svg>
    </div>
</div>

<header class="header">
    <div class="container">
        <div class="header-data">
            <div class="logo">
                <a href="http://127.0.0.1:8000/"><div class="header-elements"><img class="hover" src="../../media/icons/logoHeader.png" alt="logo"><h3>CITG</h3></div></a>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="http://127.0.0.1:8000/"><div class="header-elements" data-hover>Домой</div></a></li>
                    <li><a href="http://127.0.0.1:8000/projects/"><div class="header-elements" data-hover>Проекты</div></a></li>
                    <li><a href="http://127.0.0.1:8000/team/"><div class="header-elements" data-hover>Команда</div></a></li>
                </ul>
            </div>
            <div class="mail">
                <a class="hover" href="mailto:itsomemail@mail.com"><div class="header-elements">itsomemail@mail.com</div></a>
            </div>
        </div>
    </div>
</header>
<script async src="../../static/js/current-page.js"></script>

<main class="main">
    <!-- style = "background-image: url('{{ project.preview_pic.url }}');" -->
    <div class="description" style = "background-image: url('{{ project.preview_pic.url }}')">
        <div class="description__description-container container">
            <div class="description__description-text">
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
            </div>
        </div>
    </div>
    <div class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide mouse-enter">
                    <img src="{{ project.preview_pic.url }}" data-cursor-hover="1" alt="image" data-video="true" data-src="https://www.youtube.com/embed/{{ project.video_id }}" ondragstart="return false">
                    <img class="video-image" src="../../media/icons/start-video-icon.svg" data-cursor-hover="1"  alt="play/pause image" data-video="true" data-src="https://www.youtube.com/embed/{{ project.video_id }}" ondragstart="return false">
                </li>
                {% for img in project.project_images.all%}
                    <li class="splide__slide mouse-enter"><img src="{{ img.compressed_image.url }}" data-url-normal-image="{{ img.image.url}}" alt="image" data-image="true" ondragstart="return false"></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="workers container">
        <h3>Над проектом работали:</h3>
        <div class="workers__workers-container">
            {% for dev in devs %}
                <div class="workers__worker-card mouse-enter">
                    <div class="workers__image">
                        <a href="http://127.0.0.1:8000/profile/{{ dev.username }}/" ondragstart="return false"><img src="{{dev.avatar.url}}" alt="there must be image"></a>
                    </div>
                    <div class="workers__description">
                        <h4>{{ dev.last_name }} {{ dev.first_name }}</h4>
                        <p>{% for skill in dev.user.profile.skills.all %}{{ skill.name }} {% endfor %}</p>
                    </div>
                </div>
        {% endfor %}

        </div>
    </div>
</main>

<footer class="footer">
    <div class="container">
        <div class="info-block">
            <div class="info-block__soc-networks">
                <div class="info-block__git-hub">
                    <a href="#" ondragstart="return false">
                        <div>
                            <img src="../../media/icons/GitHub-icon.svg" alt="github image">
                            <p>GitHub</p>
                        </div>
                    </a>
                </div>
                <div class="info-block__app-store">
                    <a href="#" ondragstart="return false">
                      <div>
                          <img src="../../media/icons/AppStore-icon.svg" alt="github image">
                          <p>AppStore</p>
                      </div>
                    </a>
                </div>
                <div class="info-block__google-play">
                    <a href="#" ondragstart="return false">
                        <div>
                            <img src="../../media/icons/GooglePlay-icon.svg" alt="github image">
                            <p>GooglePlay</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="info-block__link">
                <a href="#">cosmicdriver.com</a>
            </div>
        </div>
    </div>
</footer>
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<script src="../../static/js/project-slider.js" type="module"></script>
</body>
</html>
