<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, minimum-scale=.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Проекты</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap&family=Exo+2:wght@300&family=Inter:wght@200;300;600&family=Karla:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="../../static/css/current.css" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-data">
            <div class="logo">
                <img class="hover" src="../../media/icons/logoHeader.png" alt="logo">
                <h3 class="hover">CITG</h3>
            </div>
            <div class="nav">
                <ul>
                    <li><a class="hover" href="http://127.0.0.1:8000/">Домой</a></li>
                    <li><a class="hover currentPage" href="http://127.0.0.1:8000/projects/">Проекты</a></li>
                    <li><a class="hover" href="#">Портфолио</a></li>
                    <li><a class="hover" href="#">Команда</a></li>
                </ul>
            </div>
            <div class="mail">
                <a class="hover" href="mailto:itsomemail@mail.com">itsomemail@mail.com</a>
            </div>
        </div>
    </div>
</header>
<main class="main">
    <div class="description">
        <div class="description__description-container container">
            <div class="description__description-text">
                <h2>Cosmic Driver</h2>
                <p>Для университета открытии коворкинга «Центр IT-притяжения РГУПС» - это знаковое событие, которое положит начало новой эпохе дополнительного образования и саморазвития студентов. Центр - площадка, основанная на современных концепциях форматов рабочего пространства.</p>
            </div>
        </div>
    </div>
    <div class="slider container">
        <div class="slider__left-button"><img src="../../media/icons/leftButton-slider.svg"  alt="left-arrow"></div>
        <div class="slider__outside">
            <div class="slider__inside">
                <div class="slider__block">
                    <img src="../../media/imgs/spaceHalloween-background.png" alt="image" ondragstart="return false">
                </div>
                <div class="slider__block">
                    <img src="../../media/imgs/spaceHalloween-background.png" alt="image" ondragstart="return false">
                </div>
                <div class="slider__block">
                    <img src="../../media/imgs/spaceHalloween-background.png" alt="image" ondragstart="return false">
                </div>
                <div class="slider__block">
                    <img src="../../media/imgs/spaceHalloween-background.png" alt="image" ondragstart="return false">
                </div>
                <div class="slider__block">
                    <img src="../../media/imgs/spaceHalloween-background.png" alt="image" ondragstart="return false">
                </div>
                <div class="slider__block">
                    <img src="../../media/imgs/spaceHalloween-background.png" alt="image" ondragstart="return false">
                </div>
                <div class="slider__block">
                    <img src="../../media/imgs/spaceHalloween-background.png" alt="image" ondragstart="return false">
                </div>
                <div class="slider__block">
                    <img src="../../media/imgs/plug.png" alt="image" ondragstart="return false">
                </div>
                <div class="slider__block">
                    <img src="../../media/imgs/plug.png" alt="image" ondragstart="return false">
                </div>
            </div>
        </div>
        <div class="slider__right-button"><img src="../../media/icons/rightButton-slider.svg" alt="right-button"></div>
    </div>
</main>
<footer>

</footer>

<script src="../../static/js/current-slider.js"></script>
</body>
</html>