<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, minimum-scale=.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Проект</title>
    <link href="../../static/css/project.css" rel="stylesheet">
    <link href="../../static/css/splide/splide-core.css" rel="stylesheet">
    <link href="../../static/css/splide/splide.css" rel="stylesheet">
    <script src="../../static/js/splide.js"></script>
    <script src="../../static/js/splide-auto-scroll-extension.js"></script>
</head>
<body>
<div class="pop-up-block" data-touch="yes">
    <div class="pop-up-block__close-element"><img src="../../media/icons/close-icon.svg" alt="image" data-touch="yes"></div>
    <div class="pop-up-block__image" data-dont-touch="true">
        <img src="" alt="there must be image)" data-dont-touch="true">
    </div>
    <div class="pop-up-block__video" data-dont-touch="true">
        <iframe src="/" frameborder="0" data-dont-touch="true"></iframe>
    </div>
</div>
<header class="header">
    <div class="container">
        <div class="header-data">
            <div class="logo">
                <a href="#" ondragstart="return false"><img class="hover" src="../../media/icons/logoHeader.png" alt="logo"></a>
                <a href="#"><h3 class="hover">CITG</h3></a>
            </div>
            <div class="nav">
                <ul>
                    <li><a class="hover" href="http://127.0.0.1:8000/">Домой</a></li>
                    <li><a class="hover currentPage" href="http://127.0.0.1:8000/projects/">Проекты</a></li>
                    <li><a class="hover" href="#">Портфолио</a></li>
                    <li><a class="hover" href="#">Команда</a></li>
                </ul>
            </div>
            <div class="mail">
                <a class="hover" href="mailto:itsomemail@mail.com">itsomemail@mail.com</a>
            </div>
        </div>
    </div>
</header>
<main class="main">
    <div class="description">
        <div class="description__description-container container">
            <div class="description__description-text">
                <h2>Cosmic Driver</h2>
                <p>Для университета открытии коворкинга «Центр IT-притяжения РГУПС» - это знаковое событие, которое положит начало новой эпохе дополнительного образования и саморазвития студентов. Центр - площадка, основанная на современных концепциях форматов рабочего пространства.</p>
            </div>
        </div>
    </div>

    <div class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <img src="../../media/imgs/spaceHalloween-background.png" alt="image" data-video="true" data-src="https://www.youtube.com/embed/4cJpiOPKH14" ondragstart="return false">
                    <img class="video-image" src="../../media/icons/start-video-icon.svg"  alt="" data-video="true" data-src="https://www.youtube.com/embed/4cJpiOPKH14" ondragstart="return false">
                </li>
                <li class="splide__slide"><img src="../../media/imgs/hungryFrog.png" alt="image" data-image="true" ondragstart="return false"></li>
                <li class="splide__slide"><img src="../../media/imgs/spaceman-background.png" alt="image" data-image="true" ondragstart="return false"></li>
                <li class="splide__slide"><img src="../../media/imgs/directory.png" alt="image" data-image="true" ondragstart="return false"></li>
                <li class="splide__slide"><img src="../../media/imgs/navigation.png" alt="image" data-image="true" ondragstart="return false"></li>
                <li class="splide__slide"><img src="../../media/imgs/spaceHalloween-background.png" alt="image" data-image="true" ondragstart="return false"></li>
                <li class="splide__slide"><img src="../../media/imgs/plug.png" alt="image" data-image="true" ondragstart="return false"></li>
                <li class="splide__slide"><img src="../../media/imgs/plug.png" alt="image" data-image="true" ondragstart="return false"></li>
                <li class="splide__slide"><img src="../../media/imgs/plug.png" alt="image" data-image="true" ondragstart="return false"></li>
            </ul>
        </div>
    </div>

    <script>

    </script>

<!--    <div class="slider container splide">-->
<!--        <div class="slider__left-button"><img src="../../media/icons/leftButton-slider.svg" alt="left-arrow"></div>-->
<!--        <div class="slider__outside splide__track">-->
<!--            <ul class="slider__inside splide__list">-->
<!--                <li class="slider__block splide__slide">-->
<!--                    <img src="../../media/imgs/spaceHalloween-background.png" alt="image" data-video="true" data-src="https://www.youtube.com/embed/4cJpiOPKH14" ondragstart="return false">-->
<!--                    <img class="video-image" src="../../media/icons/start-video-icon.svg"  alt="" data-video="true" data-src="https://www.youtube.com/embed/4cJpiOPKH14" ondragstart="return false">-->
<!--                </li>-->
<!--                <li class="slider__block splide__slide">-->
<!--                    <img src="../../media/imgs/spaceHalloween-background.png" alt="image" data-image="true" ondragstart="return false">-->
<!--                </li>-->
<!--                <li class="slider__block splide__slide">-->
<!--                    <img src="../../media/imgs/spaceHalloween-background.png" alt="image" data-image="true" ondragstart="return false">-->
<!--                </li>-->
<!--                <li class="slider__block splide__slide">-->
<!--                    <img src="../../media/imgs/spaceHalloween-background.png" alt="image" data-image="true" ondragstart="return false">-->
<!--                </li>-->
<!--                <li class="slider__block splide__slide">-->
<!--                    <img src="../../media/imgs/spaceHalloween-background.png" alt="image" data-image="true" ondragstart="return false">-->
<!--                </li>-->
<!--                <li class="slider__block splide__slide">-->
<!--                    <img src="../../media/imgs/spaceHalloween-background.png" alt="image" data-image="true" ondragstart="return false">-->
<!--                </li>-->
<!--                <li class="slider__block splide__slide">-->
<!--                    <img src="../../media/imgs/spaceHalloween-background.png" alt="image" data-image="true" ondragstart="return false">-->
<!--                </li>-->
<!--                <li class="slider__block splide__slide">-->
<!--                    <img src="../../media/imgs/plug.png" alt="image" data-image="true" ondragstart="return false">-->
<!--                </li>-->
<!--                <li class="slider__block splide__slide">-->
<!--                    <img src="../../media/imgs/plug.png" alt="image" data-image="true" ondragstart="return false">-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="slider__right-button"><img src="../../media/icons/rightButton-slider.svg" alt="right-button"></div>-->
<!--    </div>-->

<!--    <script>-->
<!--        var splide = new Splide( '.splide', {-->
<!--            type   : 'loop',-->
<!--            perPage: 3,-->
<!--            focus  : 'center',-->
<!--        } );-->

<!--        splide.mount();-->
<!--    </script>-->



    <div class="workers container">
        <h3>Над проектом работали:</h3>
        <div class="workers__workers-container">
            <div class="workers__worker-card">
                <div class="workers__image">
                    <a href="#" ondragstart="return false"><img src="../../media/imgs/designer.jpg" alt="there must be image"></a>
                </div>
                <div class="workers__description">
                    <h4>Бредихин Андрей</h4>
                    <p>illustrator, UI/UX-designer</p>
                </div>
            </div>
            <div class="workers__worker-card">
                <div class="workers__image">
                    <a href="#" ondragstart="return false"><img src="../../media/imgs/unity-developer.jpg" alt="there must be image"></a>
                </div>
                <div class="workers__description">
                    <h4>Федорин Данил</h4>
                    <p>Unity Developer</p>
                </div>
            </div>
            <div class="workers__worker-card">
                <div class="workers__image">
                    <a href="#" ondragstart="return false"><img src="../../media/imgs/vfx-unity-developer.jpg" alt="there must be image"></a>
                </div>
                <div class="workers__description">
                    <h4>Возьянов Александр</h4>
                    <p>VFX, Unity Developer</p>
                </div>
            </div>
            <div class="workers__worker-card">
                <div class="workers__image">
                    <a href="#" ondragstart="return false"><img src="../../media/imgs/project-manager.jpg" alt="there must be image"></a>
                </div>
                <div class="workers__description">
                    <h4>Поляниченко Дмитрий</h4>
                    <p>Project Manager</p>
                </div>
            </div>
            <div class="workers__worker-card">
                <div class="workers__image">
                    <a href="#" ondragstart="return false"><img src="../../media/imgs/3d-artist.jpg" alt="there must be image"></a>
                </div>
                <div class="workers__description">
                    <h4>Рубцова Софья</h4>
                    <p>3D Artist</p>
                </div>
            </div>
            <div class="workers__worker-card">
                <div class="workers__image">
                    <a href="#" ondragstart="return false"><img src="../../media/imgs/3d-artist-n.jpg" alt="there must be image"></a>
                </div>
                <div class="workers__description">
                    <h4>Жердева Анастасия</h4>
                    <p>3D Artist</p>
                </div>
            </div>
            <div class="workers__worker-card">
                <div class="workers__image">
                    <a href="#" ondragstart="return false"><img src="../../media/imgs/unity-developer-s.jpg" alt="there must be image"></a>
                </div>
                <div class="workers__description">
                    <h4>Настенко Семен</h4>
                    <p>Unity Developer</p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="container">
        <div class="info-block">
            <div class="info-block__soc-networks">
                <div class="info-block__git-hub">
                    <a href="#" ondragstart="return false"><img src="../../media/icons/GitHub-icon.svg" alt="github image"></a>
                    <p>GitHub</p>
                </div>
                <div class="info-block__app-store">
                    <a href="#" ondragstart="return false"><img src="../../media/icons/AppStore-icon.svg" alt="github image"></a>
                    <p>AppStore</p>
                </div>
                <div class="info-block__google-play">
                    <a href="#" ondragstart="return false"><img src="../../media/icons/GooglePlay-icon.svg" alt="github image"></a>
                    <p>GooglePlay</p>
                </div>
            </div>
            <div class="info-block__link">
                <a href="#">cosmicdriver.com</a>
            </div>
        </div>
    </div>
</footer>

<script src="../../static/js/project-slider.js"></script>
</body>
</html>
