<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap&family=Exo+2:wght@300&family=Inter:wght@200&family=Karla:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Document</title>
    <link href="../../static/css/projects.css" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header-data">
            <div class="logo">
                <img class="hover" src="../../media/icons/logoHeader.png" alt="logo">
                <h3 class="hover">CITG</h3>
            </div>
            <div class="nav">
                <ul>
                    <li class="hover"><a href="http://127.0.0.1:8000/">Home</a></li>
                    <li class="hover"><a href="http://127.0.0.1:8000/projects/">Projects</a></li>
                    <li class="hover">Portfolio</li>
                    <li class="hover">Team </li>
                </ul>
            </div>
            <div class="mail">
                <a class="hover" href="mailto:itsomemail@mail.com">itsomemail@mail.com</a>
            </div>
        </div>
    </div>
</header>
<main class="main">
    <div class="post-01">
        <div class="container">
            <div class="little-description little-description_decoration-blur">
                <h2>01</h2>
                <p>Реализованные проекты</p>
            </div>
        </div>
        <div class="projects-wrapper">
            {% for project in completed_projects %}
                <div class="container prj-container">
                    <div class="project prj-element-of-array">
                        <a href="http://127.0.0.1:8000/project/{{ project.id }}/"><img alt="Photo" src="{{ project.preview_pic.url }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="after-prjcts">
            <button id="load-more">LOAD MORE</button>
        </div>
    </div>
    <div class="post-02">
        <div class="container">
            <div class="little-description">
                <h2>02</h2>
                <p>Конкурсные работы</p>
            </div>
        </div>
        {% for project in contest_projects %}
            <div class="container prj-container">
                <div class="project"><a href="http://127.0.0.1:8000/project/{{ project.id }}/"><img alt="Photo" src="{{ project.preview_pic.url }}"></a></div>
            </div>
        {% endfor %}
    </div>
    <div class="post-03">
        <div class="container">
            <div class="little-description">
                <h2>03</h2>
                <p>Проекты в разработке</p>
            </div>
        </div>
        <div class="container prj-container">
            {% for project in in_development %}
            <div class="prj-inDev">
                <div class="description-inDev-prj" style="margin-left: 50px">
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.description }}</p>
                </div>
                <div class="logo-inDev-prj">
                    <a href="http://127.0.0.1:8000/project/{{ project.id }}/"><img src="{{ project.preview_pic.url }}" alt=""></a>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
</main>
<footer class="footer">
    <div class="container footer-container">
        <div class="links-to-social-networks">
            <div class="soc-nets telegram">
                <img src="../../media/icons/telegramm-icon.svg" alt="image of social network">
                <p>Telegram</p>
            </div>
            <div class="soc-nets VKontakte">
                <img src="../../media/icons/vk-icon.svg" alt="image of social network">
                <p>VKontakte</p>
            </div>
            <div class="soc-nets WhatsApp">
                <img src="../../media/icons/whatsapp-icon.svg" alt="image of social network">
                <p>WhatsApp</p>
            </div>
        </div>
        <div class="contacts">
            <a href="tel:+123-456-789"><h3>+123.456.789</h3></a>
            <p>Ростов-на-Дону</p>
            <p>пл. Ростовского Стрелкового</p>
            <p>Полка Народного Ополочения пл, 2.</p>
        </div>
        <div class="arrow-up">
            <div class="arrow-up-inside">
                <img src="../../media/imgs/arrow-up.svg" alt="image of arrow up">
            </div>
        </div>
    </div>
</footer>

    <script src="../../static/js/projects.js"></script>
</body>
</html>

<!--     
    font-family: 'Asap', sans-serif;

    font-family: 'Exo 2', sans-serif;

    font-family: 'Inter', sa ns-serif;

    font-family: 'Karla', sans-serif;

    font-family: 'Roboto', sans-serif;
 -->