{% extends "admin/base_site.html" %}
{% load i18n %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% translate 'Documentation' %}</a> / {% endif %}{% translate 'Change password' %} / <a href="{% url 'admin:logout' %}">{% translate 'Выйти' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Домой' %}</a>
&rsaquo; {% translate 'Изменить пароль' %}
</div>
{% endblock %}

{% block content %}
<p>{% translate 'Ваш пароль был изменен.' %}</p>
{% endblock %}
