.footer {
    margin-top: 50px;
    width: 100%;
    height: 240px;
    background: #20252C;
}
.footer-container {
    position: relative;
    color: #fff;
    height: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.links-to-social-networks {
    position: relative;
    left: 0;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.footer-container .soc-nets {
    margin-right: 50px;
}
.footer-container .soc-nets a div {
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-container .telegram p {
    margin-top: 6px;
}
.footer-container .VKontakte p {
    margin-top: 8px;
}
.footer-container .WhatsApp p {
    margin-top: 12px;
}
.footer-container .contacts {
    text-align: right;
}
.footer-container .contacts a {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 400;
}
.footer-container .contacts p:first-of-type {
    margin-top: 10px;
}
.footer-container .contacts p {
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
}

.footer-container .arrow-up {
    width: 90px;
    height: 90px;
    transition: all .4s;
    opacity: 0;
    z-index: 5;
    position: fixed;
    bottom: 50px;
    right: 23px;
    border-radius: 50%;
}
.footer-container .arrow-up:hover div img {
    opacity: 1;
}
.footer-container .arrow-up div {
    background: rgba(49, 49, 49, 0.32);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.footer-container .arrow-up div img {
    opacity: .2;
    transition: all .3s;
}