@import url('./reset.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./footer_1.css');

html {
    scroll-behavior: smooth;
}

body {
    background: #181C21;
}
.currentPage {
    color:#FF9736;
}
.container {
    height: 100%;
    width: 1645px;
    margin: 0 auto;
}
.hover {
    transition: all .3s;
}
.hover:hover {
    cursor: pointer;
    color: #FF9736;
}
main {
    margin-top: 150px;
}
.team__header {
    text-align: center;
    color: #fff;
}
.team__header h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 72px;
}
.team__header p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 700px;
    margin:  20px auto;
}

.team__list {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.person-card {
    margin-right: 20px;
    margin-bottom: 40px;
    width: 387px;
    height: 484px;
    border-radius: 13px;
    background: #323A43;
    box-shadow: 0 0 50px -15px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.person-card__image {
    padding-top: 50px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.person-card__image img {
    height: 192px;
    width: 192px;
}

.person-card__info {
    color: #fff;
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
.person-card__info h3 {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.person-card__info p {
    margin-top: 10px;
    color: #848484;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.person-card__link {
    margin-top: 50px;
    width: 180px;
    display: flex;
    justify-content: space-between;
}
.person-card__link a {
    width: 43px;
    height: 43px;
    overflow: hidden;
    box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.39);
}
