* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #181C21;
    overflow-x: hidden;
}


.currentPage {
    color:#FF9736;
}

.container {
    height: 100%;
    width: 1645px;
    margin: 0 auto;
}
.hover {
    transition: all .3s;
}
.hover:hover {
    cursor: pointer;
    color: #FF9736;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: #181C21;
    height: 77px;
    width: 100%;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(90deg, #813024 14%, rgba(176, 155, 151, 0.3), transparent 90%);
    border-image-slice: 1;
}
.header-data {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.logo {
    display: flex;
    align-items: center;
    font-family: 'Asap', sans-serif;
    color: #DD8A4B;
    font-size: 24px;
}
.logo h3 {
    margin-left: 8px;
}
.nav {
    display: flex;
    align-items: center;
}
.nav ul {
    position: relative;
    display: flex;
    left: -200px;
}
.nav ul li {
    margin-right: 50px;
}
.mail {
    display: flex;
    align-items: center;
}
.mail a, .nav ul {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #fff;
}
.nav ul li a {
    font-weight: 300;
}


/* Rectangle 433 */


.description {
    position: relative;
    width: 100%;
    height: 943px;
    background-repeat: no-repeat;
    background-image: url('../../media/imgs/spaceman-background.png');
    background-size: cover;
    overflow: hidden;
}
.description__description-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.description:after {
    content: '';
    position: absolute;
    width: 863px;
    height: 100%;
    right: 0;
    top: 77px;
    background: rgba(42, 100, 248, 0.54);
    filter: blur(300px);
}
.description:before {
    content: '';
    position: absolute;
    width: 1010px;
    height: 100%;
    top: 77px;
    right: 0;

    background: linear-gradient(270deg, #BF3FA1 -1.17%, rgba(71, 0, 54, 0) 76.25%);
}
.description__description-text {
    width: 700px;
    position: absolute;
    top: 50%;
    right: 3%;
    z-index: 2;
    color: #fff;
    font-family: 'Inter', sans-serif;
}
.description__description-text h2 {
    font-size: 72px;
    font-weight: 600;
}
.description__description-text p {
    font-size: 14px;
    font-weight: 400;
}


.slider {
    position: relative;
    margin-top: 120px;
    height: 200px;
    width: 1800px;
    background: #813024;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__inside {
    width: 1645px;
    height: 100%;
    background: black;
    overflow: hidden;
}