html {
  scroll-behavior: smooth;
}

body {
  background: #181C21;
  overflow-x: hidden;
}

.mouse-enter {
  transition: all ease-in-out .3s;
}
.mouse-enter:hover {
  transform: scale(1.05);
}

.container {
  height: 100%;
  width: 1645px;
  margin: 0 auto;
}



.post-01 ,.post-02, .post-03 {
  margin-top: 120px;
  overflow: hidden;
}

.little-description {
  position: relative;
}
.little-description h2 {
  font-size: 48px;
  color: #DC6041;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.little-description p {
  margin-top: 5px;
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.little-description_decoration-blur {
  transition: all .3s;
}
.little-description_decoration-blur:before {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  left: -150px;
  bottom: -20px;
  z-index: -1;
  background:
          radial-gradient(ellipse 20% 100% at bottom, rgba(4, 103, 182, 0.25), rgba(47, 47, 47, 0))
          /*radial-gradient(ellipse 70% 70% at bottom left, #0F182D, transparent),*/
          /*radial-gradient(ellipse 70% 70% at bottom right, #0F182D, transparent),*/
          /*linear-gradient(to top, transparent, rgba(24, 28, 33, 0));*/
}

.projects-wrapper {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 650px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-image: url("../../media/imgs/post-01-background.png");
  transition: all .4s;
}
.prj-container {
  position: relative;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}
.project {
  margin-right: 20px;
  margin-bottom: 50px;
  width: 523px;
  height: 270px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.75);
  transition: all ease-in-out .3s;
}
.project:hover {
  transform: scale(1.05);
}
.after-prjcts {
  text-align: center;
  position: relative;
}
.project_no-shadow {
  /*box-shadow: none !important;*/
}
.after-prjcts_decoration-blur-purple {
  text-align: center;
  position: relative;
  transition: all .3s;
  z-index: -1;
}
.after-prjcts_decoration-blur-purple:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: -305px;
  width: 100%;
  height: 50px;
  background:
          radial-gradient(ellipse 13% 80% at top,
          rgba(128, 0, 128, 0.4),
          rgba(47, 47, 47, 0))
}

.after-prjcts button {
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  border-radius: 0;
  border: none;
  width: 150px;
  height: 60px;
  background: #F8682A;
  color: #fff;
}

.prj-inDev {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 795px;
  height: 270px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  overflow: hidden;
  border-radius: 10px;
}
.prj-inDev .description-inDev-prj {
  text-align: left;
  width: 50%;
  margin-left: 50px;
}
.prj-inDev .description-inDev-prj h3 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.prj-inDev .description-inDev-prj p {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.logo-inDev-prj {
  width: 50%;
  overflow: hidden;
  position: relative;
  right: 0;
  top: 2px;
  text-align: center;
}
.logo-inDev-prj, .description-inDev-prj {
  pointer-events: none;
}
