.mouse-enter {
    transition: all ease-in-out .3s;
}
.mouse-enter:hover {
    transform: scale(1.02);
}

html {
    scroll-behavior: smooth;
}

* :hover {
    cursor: none !important;
}

body {
    background: #181C21;
}
.pop-up-block {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    justify-content: center;
    align-items: center;
}
.pop-up-block__close-element {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: none;
}
.pop-up-block__image, .pop-up-block__video {
    width: 1400px;
    height: 700px;
    background: black;
    display: none;
}
.pop-up-block__image {
    border-radius: 25px;
    overflow: hidden;
    background: #0F182D;
}
.pop-up-block img {
    width: 100%;
    height: 100%;
    filter: blur(10px);
}
.pop-up-block__video {
    display: none;
}
.pop-up-block__video iframe {
    width: 100%;
    height: 100%;
}
.loader {
    position: fixed;
    z-index: 10;
    top: 45%;
    left: 45%;
    color: rgba(128, 128, 128, 0.5);
}
.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;

    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}



.container {
    height: 100%;
    width: 1645px;
    margin: 0 auto;
}


.description {
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url('../../media/imgs/spaceman-background.png');
    background-size: cover;
    overflow: hidden;
}
.description__description-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.description:after {
    content: '';
    position: absolute;
    width: 863px;
    height: 100%;
    right: 0;
    top: 77px;
    background: rgba(42, 100, 248, 0.54);
    filter: blur(300px);
}
.description:before {
    content: '';
    position: absolute;
    width: 1010px;
    height: 100%;
    top: 77px;
    right: 0;

    background: linear-gradient(270deg, #BF3FA1 -1.17%, rgba(71, 0, 54, 0) 76.25%);
}
.description__description-text {
    width: 700px;
    position: absolute;
    top: 50%;
    right: 3%;
    z-index: 2;
    color: #fff;
    font-family: 'Inter', sans-serif;
}
.description__description-text h2 {
    font-size: 72px;
    font-weight: 600;
}
.description__description-text p {
    font-size: 14px;
    font-weight: 400;
}


.splide {
    position: relative;
    width: 1620px;
    height: 294px;
    margin: 120px auto;
    /*background: #0c9a9a;*/
}
.splide__arrows {
    /*display: none;*/
}
.splide__arrows button:first-child {
    position: absolute;
    top: 130px;
    left: -100px;
}
.splide__arrows button:last-child {
    position: absolute;
    top: 130px;
    right: -80px;
}
.splide__arrows button {
    background: transparent;
    height: 50px;
    width: 50px;
    border: none;
}
.imgButton {
    width: 50px;
    height: 50px;
    filter: brightness(30%);
}
.imgButton:hover {
    cursor: none;
    filter: brightness(100%);
}

.splide__pagination {
    display: none !important;
}
.splide__left-button, .splide__right-button {
    position: absolute;
    width: 140px;
    height: 100%;
    display: flex;
    z-index: 0;
    justify-content: center;
    align-items: center;
}
.splide__left-button {
    top: 0;
    left: 0;
}
.splide__right-button {
    top: 0;
    right: 0;
}
.splide__left-button img, .splide__right-button img {
    filter: brightness(30%);
    transition: all .2s;
}
.splide__left-button img:hover, .splide__right-button img:hover {
    cursor: none;
    filter: brightness(100%);
}
.splide__track {
    position: relative;
    margin: 0 auto;
    width: 1620px;
    height: 350px;
    /*background: black;*/
    /*overflow: hidden;*/
}
.splide__list {
}
.splide__slide {
    width: 524px;
    height: 294px;
    align-items: center;
    margin-left: 10px !important;
    margin-top: 20px !important;
    margin-right: 10px !important;
    border-radius: 20px;
    /*overflow: hidden;*/
    /*background: #813024;*/
}
.splide__list img {
    width: 500px;
    height: 270px;
}
.video-image {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 45%;
    width: 70px !important;
}

.workers {
    margin-top: 120px;
}
.workers h3 {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 400;
}
.workers__workers-container {
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.workers__worker-card {
    width: 252px;
    height: 297px;
    background: #2D3238;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 80px -10px black;
}
.workers__image {
    width: 100%;
    height: 212px;
    overflow: hidden;
}
.workers__image img {
    height: 100%;
    width: 100%;
}
.workers__description {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85px;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.workers__description h4 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.workers__description p {
    margin-top: 7px;
    color: #848484;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
}



