* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #181C21;
  overflow-x: hidden;
}

.container {
  height: 100%;
  width: 86%;
  margin: 0 auto;
}
.hover {
  transition: all .3s;
}
.hover:hover {
  cursor: pointer;
  color: #FF9736;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #181C21;
  height: 70px;
  width: 100%;
  border-bottom: 2px solid;
  border-image-source: linear-gradient(90deg, #813024 14%, rgba(176, 155, 151, 0.3), transparent 90%);
  border-image-slice: 1;
}
.header-data {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.logo {
  display: flex;
  align-items: center;
  font-family: 'Asap', sans-serif;
  color: #DD8A4B;
  font-size: 24px;
}
.logo h3 {
  margin-left: 8px;
}
.nav {
  display: flex;
  align-items: center;
}
.nav ul {
  position: relative;
  display: flex;
  left: -200px;
}
.nav ul li {
  margin-right: 50px;
}
.mail {
  display: flex;
  align-items: center;
}
.mail a, .nav ul {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

.post-01 ,.post-02, .post-03 {
  margin-top: 120px;
  overflow: hidden;
}

.little-description {
  position: relative;
}
.little-description h2 {
  font-size: 48px;
  color: #DC6041;
  font-family: 'Roboto', sans-serif;
}
.little-description p {
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
.little-description_decoration-blur {
  transition: all .3s;
}
.little-description_decoration-blur:before {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  left: -150px;
  bottom: -10px;
  z-index: -1;
  background:
          radial-gradient(ellipse 20% 100% at bottom, rgba(4, 103, 182, 0.25), rgba(47, 47, 47, 0))
          /*radial-gradient(ellipse 70% 70% at bottom left, #0F182D, transparent),*/
          /*radial-gradient(ellipse 70% 70% at bottom right, #0F182D, transparent),*/
          /*linear-gradient(to top, transparent, rgba(24, 28, 33, 0));*/
}

.projects-wrapper {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 650px;
  overflow: hidden;
  background-repeat: repeat;
  background-attachment: fixed;
  background-image: url("../../media/imgs/post-01-background.png");
  transition: all .4s;
}
.prj-container {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.project {
  margin-right: 20px;
  margin-bottom: 50px;
  width: 523px;
  height: 270px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 50px 3px rgba(0, 0, 0, 0.75);
}
.after-prjcts {
  text-align: center;
  position: relative;
}
.after-prjcts_decoration-blur-purple {
  text-align: center;
  position: relative;
  transition: all .3s;
  z-index: -1;
}
.after-prjcts_decoration-blur-purple:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: -305px;
  width: 100%;
  height: 50px;
  background:
          radial-gradient(ellipse 13% 80% at top,
          rgba(128, 0, 128, 0.4),
          rgba(47, 47, 47, 0))
}

.after-prjcts button {
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  border-radius: 0;
  border: none;
  width: 150px;
  height: 60px;
  background: #F8682A;
  color: #fff;
}
.after-prjcts button:hover {
  cursor: pointer;
}

.prj-inDev {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 795px;
  height: 270px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #000;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
}
.prj-inDev .description-inDev-prj {
  text-align: left;
  width: 50%;
}
.prj-inDev .description-inDev-prj h3 {
  font-size: 24px;
}
.prj-inDev .description-inDev-prj p {
  font-size: 14px;
}
.logo-inDev-prj {
  position: relative;
  right: 0;
  top: 2px;
}

.footer {
  margin-top: 150px;
  width: 100%;
  height: 239px;
  background: #20252C;
}
.footer-container {
  position: relative;
  color: #fff;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.links-to-social-networks {
  position: relative;
  left: 0;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.soc-nets {
  margin-right: 50px;
}
.soc-nets:hover {
  cursor: pointer;
}
.VKontakte p {
  margin-top: 5px;
}
.WhatsApp p {
  margin-top: 10px;
}



.contacts {
  text-align: right;
}
.container h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
}
.container p {
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
}

.arrow-up {
  display: none;
  z-index: 5;
  position: fixed;
  bottom:50px;
  right: 23px;
  border-radius: 50%;
}
.arrow-up:hover {
  cursor: pointer;
}
.arrow-up:hover div img {
  opacity: 1;
}

.arrow-up div {
  background: rgba(49, 49, 49, 0.32);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
.arrow-up div img {
  opacity: .2;
  transition: all .3s;
}


