* {
padding: 0;
margin: 0;
}

.white_text{
    color: white;
}
.blackout-container {
    width: 100%;
    position: relative;
    padding-bottom: 950px;
    overflow: visible;
}
.blackout-container::before {
    position: absolute;
    content: "";
    top: -10px;
    width: 100%;
    height: 500px;
    z-index: -1;
    background: linear-gradient(0deg, #0F182D 30%, rgba(0, 0, 0, 0.37)),
    linear-gradient(to top, rgba(0, 0, 0, 0.37), transparent);
}
.blackout-container::after {
    position: absolute;
    content: "";
    height: auto;
    top: 400px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0F182D;
}