.nav__link:nth-child(3) {
  color: #E1793E;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.bgBtn {
  background-color: #F8682A;
}
.main {
  height: 80vh;
  background-image: url("../../../media/imgs/team-page/about-person/human-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}
.main .main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.main .main__content .main__top {
  margin-bottom: 50px;
  line-height: 25px;
}
.main .main__content .main__top .main__top-img {
  width: 220px;
}
.main .main__content .main__bottom {
  background-color: #30323566;
  height: 35px;
}
.main .main__content .main__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.main .main__content .main__bottom .container .main__bottom__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__content .main__bottom .container .main__bottom__btn .main__btn {
  height: 100%;
  padding: 0 15px;
  font-size: 18px;
  cursor: pointer;
}
.main .main__content .main__bottom .container .main__btn:hover {
  background-color: #F8682A;
}
.splide__arrow img {
  width: 20px;
  height: 20px;
}
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0;
}
.slider .splide {
  width: 100%;
}
.slider .splide .splide__slide {
  width: 31%;
  height: 200px;
  margin: 0 15px;
  cursor: pointer;
}
.slider .splide .splide__slide .splide_slide-img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}
.slider .splide .splide__slide .splide_slide-img img {
  height: auto;
  width: 100%;
}
.work__title {
  font-size: 24px;
}
.work {
  padding: 3% 0;
  font-size: 24px;
}
.work .portfolio .work__bottom .work__bottom__items .show__gallery {
  margin-top: 10px;
  text-align: right;
}
.work .portfolio .work__bottom .work__bottom__items .show__gallery #btn_showGall {
  font-size: 22px;
}
.work .portfolio .work__bottom .work__bottom__items .work__bottom__top {
  padding: 3% 0;
}
.work .resume .resume__skills {
  margin: 3% 0;
}
.work .resume .resume__skills .resume__skills__items {
  margin: 3% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20%);
  grid-gap: 30px;
}
.work .resume .resume__skills .resume__skills__items .resume__skills__item {
  padding: 5% 0;
  color: #F8682A;
  text-align: center;
  background-color: #17171B;
  -webkit-box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.25), inset 0px -5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.25), inset 0px -5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  -webkit-transition: 1s all;
  transition: 1s all;
}
.work .resume .resume_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
}
.work .resume .resume_contacts .contacts_item {
  margin-right: 2%;
}
.Mpopup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.Mpopup__bg.Mactive {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.Mpopup {
  overflow: scroll;
  overflow-x: hidden;
  width: 80%;
  height: 98vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background: #fff;
  max-width: 100%;
  max-height: 100vh;
  padding: 25px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  border-radius: 10px;
}
.Mpopup body {
  overflow: hidden;
}
.Mpopup .more__det {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.Mpopup .more__det .more__det__imgs {
  width: 70%;
  height: 100vh;
  border-radius: 10px;
}
.Mpopup .more__det .more__det__imgs img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.Mpopup .more__det #more_det-close {
  cursor: pointer;
}
.Mpopup .more__det .more__det__info {
  background-color: #232B34;
  width: 35%;
  height: 100%;
  padding: 2%;
  border-radius: 10px;
}
.Mpopup .more__det .more__det__info .more_det_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Mpopup .more__det .more__det__info .more_det_top .person_name {
  font-size: 30px;
}
.Mpopup .more__det .more__det__info .more_det_top .more_det_img {
  width: 30%;
}
.Mpopup .more__det .more__det__info .more_det_top .more_det_img img {
  width: 100%;
  height: auto;
}
.Mpopup .more__det .more__det__info .more_det_item {
  text-align: right;
  margin: 7% 0;
}
.Mpopup .more__det .more__det__info .more_det_item .more_det_title {
  margin: 3% 0;
}
.Mpopup .more__det .more__det__info .more_det_item .more_det_text {
  padding: 3%;
  border-radius: 7px;
  background-color: #292626;
  border-left: 7px solid #F8682A;
}
.Mpopup .more__det .more__det__info .more_det_item .more_det_work {
  height: 200px;
  border-radius: 7px;
  background-size: cover;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Mpopup .more__det .more__det__info .more_det_item .more_det_work img {
  padding-left: 7%;
  cursor: pointer;
}
.Mpopup .more__det .more__det__info .more_det_item .more_det_soft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  background-color: #0C0824;
  border-radius: 7px;
}
.Mpopup .more__det .more__det__info .more_det_item .more_det_soft .soft_text {
  padding-left: 25%;
}
.Mpopup .more__det .more__det__info .more_det_item .more_det_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}
.Mpopup .more__det .more__det__info .more_det_item .more_det_links .more_det_link-item {
  margin-left: 10%;
}
.Mpopup .more__det .more__det__info .more_det_item .more_det_links .more_det_link-item img {
  width: 100%;
  height: auto;
}
.Mpopup .more__det .more__det__info .more_det_item .more_det_links .more_det_link-item:first-child {
  margin-left: 0;
}
.Mpopup.Mactive {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.popup .popup_leftImg {
  margin-right: 5%;
  width: 100%;
  height: 80%;
}
.popup .popup_leftImg img {
  width: 100%;
  height: auto;
}
.popup .popup_rightDiv {
  width: 20%;
}
