.text__block {
  color: #D5D4E6;
  font-size: 24px;
  letter-spacing: 0.045em;
  line-height: 28.8px;
}
.num__page {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.num__page .num__page__left {
  margin-right: 10%;
}
.num__page .num__page__left img {
  width: 100%;
  height: auto;
}
.main {
  height: 100vh;
  width: 100%;
  background-image: url("../../media/imgs/main/main-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 70%;
  position: relative;
}
.main .main__content .main__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 682px;
  margin-left: 10%;
  margin-top: 5%;
}
.main .main__content .main__content-item .main__content-title {
  color: #fff;
  font-size: 100px;
  margin-bottom: 70px;
}
.main .main__content .main__content__btn {
  text-align: center;
  margin-top: 13%;
}
.main .num__page {
  position: absolute;
  left: 0;
  bottom: 0;
}
.nav__link:first-child {
  color: #E1793E;
}
.advanteges {
  height: 100vh;
  background-image: url("../../media/imgs/main/bg-advanteges.png");
  background-repeat: no-repeat;
  background-position: left;
}
.advanteges .advanteges__content {
  padding-top: 20%;
}
.advanteges .advanteges__content .advanteges__left {
  width: 30%;
  font-size: 24px;
}
.advanteges .advanteges__content .advanteges__left .advanteges__title {
  font-size: 59px;
  color: #F4672B;
}
.advanteges .advanteges__content .advanteges__left .advanteges__subTitle {
  margin-top: 20px;
  margin-bottom: 30px;
}
.advanteges .advanteges__content .advanteges__left .advanteges__text:last-child {
  margin-top: 25px;
}
.devepolers {
  padding: 5% 0;
}
.devepolers .developers__items {
  margin-left: 5%;
  padding-top: 5%;
  padding-bottom: 7%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-row-gap: 30px;
  grid-column-gap: 10px;
}
.devepolers .developers__items .developer__item .developer-title {
  color: #DC6041;
  font-size: 22px;
}
.devepolers .developers__items .developer__item .developer-text {
  font-size: 36px;
  font-weight: 700;
}
.devepolers .developers__items .developer__item .developer-subtext {
  font-size: 1.2em;
}
.devepolers .developers__items .developers__btn {
  position: absolute;
  bottom: 0;
  right: 20%;
}
.splide__arrow img {
  width: 20px;
  height: 20px;
}
.projects {
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.projects .projects__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects .projects__top .projects__top__text {
  margin-right: 5%;
  text-align: right;
}
.projects .projects__top .projects__top__text .projects-title {
  font-size: 36px;
  color: #F8682A;
}
.projects .projects__top .projects__top__text .projects-subtitle {
  font-size: 18px;
}
.projects .projects__items {
  text-align: center;
  margin-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 50px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}
.projects .projects__items .projects__item {
  width: 15%;
}
.projects .projects__items .projects__item .projects__item-img {
  width: 100%;
  min-height: 100%;
  cursor: pointer;
}
.projects .projects__showAll {
  margin-top: 5%;
}
.projects .reward__div {
  text-align: right;
  margin-top: 5%;
  margin-right: 10%;
}
.projects .reward__div .reward {
  color: #F8682A;
  font-size: 36px;
}
.splide__arrow img {
  width: 20px;
  height: 20px;
}
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0;
  background-color: #181921;
}
.slider .splide {
  width: 57%;
}
.slider .splide .splide__slide {
  width: 30.5%;
  height: 250px;
  margin: 0 15px;
  cursor: pointer;
  border-radius: 10px;
}
.team {
  padding: 100px 100px;
  margin-left: 5%;
}
.team .team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.team .team__content .team__top {
  text-align: right;
}
.team .team__content .team__bottom {
  margin-top: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team .team__content .team__bottom .team__bottom-img {
  width: 50%;
  height: 50%;
  border-radius: 7px;
}
.team .team__content .team__bottom .team__bottom-text {
  width: 700px;
  position: relative;
}
.team .team__content .team__bottom .team__bottom-text .team__btn {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team .team__content .team__bottom .team__bottom-text .team__btn .team-btn {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: 2px solid #fff;
  width: 40%;
  padding: 4% 3%;
  font-size: 24px;
  -webkit-box-shadow: 0px 16px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 16px 12px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
}
.team .team__content .team__bottom .team__bottom-text .team__btn .team-btn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.popup .popup_leftImg {
  margin-right: 5%;
  width: 80%;
}
.popup .popup_rightDiv {
  width: 20%;
}
.popup img {
  width: 100%;
  height: auto;
}
