.splide__pagination {
    margin-top: 1.5%;
}
.splide__pagination__page {
    background: #ccc;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 3px;
    opacity: .7;
    padding: 0;
    transition: transform .2s linear;
    width: 8px;
}
.splide__pagination__page.is-active {
    background: #fff;
    transform: scale(1.4);
}
.splide__pagination__page:hover {
    cursor: pointer;
    opacity: .9;
}
.splide__pagination__page:focus {
    outline: none;
}
.splide__progress__bar {
    background: #ccc;
    height: 3px;
}