<header class="header">
    <div class="container">
        <div class="header-data">
            <div class="logo">
                <a href="http://127.0.0.1:8000/"><div class="header-elements"><img class="hover" src="../../../media/icons/logoHeader.png" alt="logo"><h3>CITG</h3></div></a>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="http://127.0.0.1:8000/"><div class="header-elements" data-hover>Домой</div></a></li>
                    <li><a href="http://127.0.0.1:8000/projects/"><div class="header-elements" data-hover>Проекты</div></a></li>
                    <li><a href="http://127.0.0.1:8000/team/"><div class="header-elements" data-hover>Команда</div></a></li>
                </ul>
            </div>
            <div class="mail">
                <a class="hover" href="mailto:itsomemail@mail.com"><div class="header-elements">itsomemail@mail.com</div></a>
            </div>
        </div>
    </div>
</header>