<footer class="footer">
    <div class="container">
        <div class="info-block">
            <div class="info-block__soc-networks">
                <div class="info-block__git-hub">
                    <a href="#" ondragstart="return false">
                        <div>
                            <img src="../../media/icons/GitHub-icon.svg" alt="github image">
                            <p>GitHub</p>
                        </div>
                    </a>
                </div>
                <div class="info-block__app-store">
                    <a href="#" ondragstart="return false">
                      <div>
                          <img src="../../media/icons/AppStore-icon.svg" alt="github image">
                          <p>AppStore</p>
                      </div>
                    </a>
                </div>
                <div class="info-block__google-play">
                    <a href="#" ondragstart="return false">
                        <div>
                            <img src="../../media/icons/GooglePlay-icon.svg" alt="github image">
                            <p>GooglePlay</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="info-block__link">
                <a href="#">cosmicdriver.com</a>
            </div>
        </div>
    </div>
</footer>