<footer class="footer">
    <div class="container footer-container">
        <div class="links-to-social-networks">
            <div class="soc-nets telegram">
                <a href="#">
                   <div>
                       <img src="../../media/icons/telegramm-icon.svg" alt="image of social network">
                       <p>Telegram</p>
                   </div>
                </a>
            </div>
            <div class="soc-nets VKontakte">
                <a href="#">
                    <div>
                        <img src="../../media/icons/vk-icon.svg" alt="image of social network">
                        <p>VKontakte</p>
                    </div>
                </a>
            </div>
            <div class="soc-nets WhatsApp">
                <a href="#">
                    <div>
                        <img src="../../media/icons/whatsapp-icon.svg" alt="image of social network">
                        <p>WhatsApp</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="contacts">
            <a href="tel:+123-456-789">+123.456.789</a>
            <p>Ростов-на-Дону</p>
            <p>пл. Ростовского Стрелкового</p>
            <p>Полка Народного Ополочения пл, 2.</p>
        </div>
        <div class="arrow-up">
            <div class="arrow-up-inside">
                <img src="../../media/imgs/arrow-up.svg" alt="image of arrow up">
            </div>
        </div>
    </div>
</footer>