<header class="header">
    <div class="container">
        <div class="header-data">
            <div class="logo">
                <a href="#"><img class="hover" src="../../media/icons/logoHeader.png" alt="logo"></a>
                <a href="#"><h3>CITG</h3></a>
            </div>
            <div class="nav">
                <ul>
                    <li><a class="hover" href="http://127.0.0.1:8000/">Домой</a></li>
                    <li><a class="hover currentPage" href="http://127.0.0.1:8000/projects/">Проекты</a></li>
                    <li><a class="hover" href="http://127.0.0.1:8000/profile/abredihin/">Портфолио</a></li>
                    <li><a class="hover" href="http://127.0.0.1:8000/team/">Команда</a></li>
                </ul>
            </div>
            <div class="mail">
                <a class="hover" href="mailto:itsomemail@mail.com">itsomemail@mail.com</a>
            </div>
        </div>
    </div>
</header>