<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- fonsts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/splide/splide-core.css">
    <link rel="stylesheet" href="../static/css/splide/splide.css">
    <link rel="stylesheet" href="../static/css/common-styles.css">

    <link rel="stylesheet" href="../static/css/main.css">


    <script src="../static/js/splide.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Document</title>
</head>

<body>

    <!-- main -->
    <section class="main">
        <div class="main__sub">
            <header class="header">

                <div class="header__item">
                    <div><img class="header__item-logo" src="../media/index_images/main/header-img.png" alt="иконка"></div>
                </div>

                <div class="header__item">
                    <nav class="nav">
                        <a class="nav__link" href="http://127.0.0.1:8000/">главная</a>
                        <a class="nav__link" href="http://127.0.0.1:8000/projects/">проекты</a>
                        <a class="nav__link" href="#">команда</a>
                    </nav>
                </div>

                <div class="header__item">
                    <a class="mail" href="mailto:huy@gmain.com">сontack@gmail.com</a>
                </div>

            </header>

            <div class="main__content">
                <div class="main__content-item">
                    <div>
                        <h1 class="main__content-title">Центр IT-притяжения</h1>
                    </div>

                    <dvi>
                        <p class="text__block">
                            Для университета открытии коворкинга «Центр IT-притяжения РГУПС» - это знаковое событие,
                            которое положит начало новой эпохе дополнительного образования и саморазвития студентов.
                            Центр - площадка, основанная на современных концепциях форматов рабочего пространства.
                        </p>
                    </dvi>
                </div>

                <div id="main__content__btn" class="main__content__btn">
                    <a class="main__link" href="#ex2"><img src="../media/index_images/main/img-down.svg" alt="иконка"></a>
                </div>
            </div>

        </div>
    </section>

    <!-- about__center -->
    <section  id="ex2" class="about__center">
        <div class="container">

            <div class="about__center__content">

                <div class="about__center__top">
                    <img src="../media/index_images/about-center/about-center.png" alt="картинка">
                </div>

                <div class="about__center__bottom">

                    <img class="about__center__bottom-img" src="../media/index_images/about-center/about-center-team.png" alt="картинка">

                    <div class="about__center__bottom-text">
                        <p class="text__block">
                            Для университета открытии коворкинга «Центр IT-притяжения Разования и саморазвития
                            студентов. Центр - площадка, основанная на современных концепциях форматов рабочего
                            пространства.Для университета открытии коворкинга «Центр IT-притяжения РГУПС» - это знаковое
                            событие, которое положит начало новой эпохе дополнительного образования и саморазвития
                            студентов. Центр - площадка, основанная на современных концепциях форматов рабочего
                            пространства.Для университета открытии коворкинга «Центр IT-притяжения РГУПС» - это знаковое
                            событие, которое положит начало новой эпохе дополнительного образования и саморазвития
                            студентов. Центр - площадка, основанная на современных концепциях форматов рабочего
                            пространства.Для университета открытии коворкинга «Центр IT-притяжения РГУПС» - это знаковое
                            событие, которое пва.
                        </p>
                    </div>

                </div>

            </div>

        </div>
    </section>

    <!-- certificates -->
    <section class="certificates">

        <div class="splide">

            <div class="splide__track">
                <div class="splide__list">
                    <li class="splide__slide">
                        <img class="certificates__item-img" src="../media/index_images/certificates/certificat.png" alt="сертификат">
                    </li>

                    <li class="splide__slide">
                        <img class="certificates__item-img" src="https://../media/index_images2.fonwall.ru/o/aw/zakat-pole-kolosya-czoz.jpg" alt="сертификат">
                    </li>

                    <li class="splide__slide">
                        <img class="certificates__item-img" src="https://10wallpaper.com/wallpaper/1680x1050/1603/2016_Windows_10_scenery_theme_desktop_wallpaper_04_1680x1050.jpg" alt="сертификат">
                    </li>

                    <li class="splide__slide">
                        <img class="certificates__item-img" src="https://i10.fotocdn.net/s113/68b08dbc59f3ce29/public_pin_l/2552876898.jpg" alt="сертификат">
                    </li>

                    <li class="splide__slide">
                        <img class="certificates__item-img" src="https://images5.alphacoders.com/688/688755.jpg" alt="сертификат">
                    </li>

                    <li class="splide__slide">
                        <img class="certificates__item-img" src="https://i.artfile.ru/4900x3270_660669_[www.ArtFile.ru].jpg" alt="сертификат">
                    </li>
                </div>
            </div>

        </div>
    </section>

    <!-- projects -->
    <section class="projects">

        <div class="projects__top">
            <h1 class="projects-title">Наши проекты</h1>
        </div>

        <div class="projects__bottom">
            {% for project in projects %}
                <a href ="http://127.0.0.1:8000/project/{{ project.id }}/" >
            <div class="projects__bottom__item">
                <img class="projects__bottom__item-img" src="{{project.preview_pic.url}}" alt="проект">

                <div class="projects__bottom__item-text">
                    <p>{{ project.title }}</p>
                </div></a>
            </div>
            {% endfor %}
        </div>

        <div class="projects__btn-show-all">
            <a class="projects-btn-show-all" href="#">посмотреть всё</a>
        </div>

    </section>

    <!-- team -->
    <section class="team">
        <div class="container">

            <div class="team__content">

                <div class="team__top">
                    <img src="../media/index_images/team/team.png" alt="картинка">
                </div>

                <div class="team__bottom">

                    <div class="team__bottom-text">
                        <div>
                            <p class="text__block">
                                Центр IT-притяжения аккумулирует вокруг себя множество талантливых специалистов из
                                разных сфер, многие из них являются бывшими учениками. Именно поэтому Центр может
                                позволить себе помощь в обучении в таком количестве профессий. Основные кадры площадки
                                помимо коммерческой разработки также обладают опытом в сфере обучения. Все ученики
                                Центра, как бывшие, так и текущие являются победителями и призерами множества конкурсов,
                                хакатонов и т.д.
                            </p>
                        </div>

                        <div class="team__btn">
                            <button class="team-btn">Ознакомиться подробней</button>
                        </div>
                    </div>

                    <img class="team__bottom-img" src="../media/index_images/team/fox.png" alt="картинка">

                </div>

            </div>

        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="container">

            <div class="footer__top">

                <div class="footer__icons">

                    <div class="footer__item">
                        <a class="footer__link" href="https://ya.ru/" target="_blank">
                            <img class="footer__img" src="../media/index_images/footer/vk.svg" alt="иконка">
                        </a>
                    </div>

                    <div class="footer__item">
                        <a class="footer__link" href="https://ya.ru/" target="_blank">
                            <img src="../media/index_images/footer/telegramm.svg" alt="иконка">
                        </a>
                    </div>

                    <div class="footer__item">
                        <a class="footer__link" href="https://ya.ru/" target="_blank">
                            <img src="../media/index_images/footer/whatshap.svg" alt="иконка">
                        </a>
                    </div>

                </div>

                <div class="footer__text">
                    <div>
                        <a class="mail" href="mailto:huy@gmain.com">сontack@gmail.com</a>
                    </div>

                    <div class="footer__text-adressDiv">
                        <address>
                            Ростовского Стрелкового Полка Народного Ополчения пл, 2, Ростов-на-Дону, Ростовская обл.,
                            344038
                        </address>
                    </div>
                </div>

            </div>

            <div class="footer__bottom">
                <p>
                    2021© CITG
                </p>
            </div>

        </div>
    </footer>

    <!-- <form class="dm-overlay">
        <div class="dm-overlay__imgClose">
            <img class="dm-overlay__imgClose-img" src="../media/index_images/modal/modal-close.svg" alt="иконка">
        </div>
        <div class="dm-table">
            <div class="dm-cell">
                <div class="dm-modal">
                    <div class="dm-modal__top">
                        <div class="dm-modal__divImg">
                            <img class="dm-modal-img" src="https://i10.fotocdn.net/s113/68b08dbc59f3ce29/public_pin_l/2552876898.jpg" alt="картинка">
                        </div>
                        <div class="dm-modal__text">
                            <div>
                                <p>
                                    1 место за участие в хакатон 2020
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>  -->


    <script type="text/javascript">
        var splide = new Splide('.splide', {
            perPage: 2,
            cover: true
        });

        splide.mount();
    </script>

    <script src="js/index.js"></script>
</body>

</html>