<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- fonsts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="../static/css/splide/splide-core.css">
    <link rel="stylesheet" href="../static/css/splide/splide.css">
    <link rel="stylesheet" href="../static/css/common-styles.css">

    <link rel="stylesheet" href="../static/css/main.css">


    <script src="../static/js/libs/splide.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/rellax.min.js"></script>


    <title>Document</title>
</head>

<body>

    <!-- main -->
    <section class="main">

        <header class="header">

            <div class="header__item">
                <div><img class="header__item-logo" src="../media/icons/logoHeader.png" alt="иконка"></div>
                <div>
                    <p class="header-title">
                        CITG
                    </p>
                </div>
            </div>

            <div class="header__item">
                <nav class="nav">
                    <a class="nav__link" href="http://127.0.0.1:8000/">Домашняя</a>
                    <a class="nav__link" href="http://127.0.0.1:8000/projects/">Проекты</a>
                    <a class="nav__link" href="http://127.0.0.1:8000/profile/{{ request.user.username }}/">Портфолио</a>
                    <a class="nav__link" href="http://127.0.0.1:8000/team/">Команда</a>
                </nav>
            </div>

            <div class="header__item">
                <a class="mail" href="mailto:huy@gmain.com">сontack@gmail.com</a>
            </div>

        </header>

        <div class="main__content">
            <div class="main__content-item">
                <div>
                    <h1 class="main__content-title">Center IT Gravity</h1>
                </div>

                <dvi>
                    <p class="text__block">
                        Мощная среда для твоего развития
                    </p>
                </dvi>
            </div>
        </div>

        <div class="num__page">

            <div class="num__page__left">
                <img src="../media/imgs/main/left-page.png" alt="картинка">
            </div>

            <div class="num__page__right">
                <p class="num__page-text">
                    01
                </p>
            </div>

        </div>
    </section>

    <!-- advanteges -->
    <section class="advanteges">
        <div class="container">

            <div class="advanteges__content">

                <div class="advanteges__left">

                    <div>
                        <h1 class="advanteges__title">
                            Преимущества
                        </h1>
                    </div>

                    <div>
                        <p class="advanteges__subTitle">
                            Здесь действия так же выжны, как и эмоции
                        </p>
                    </div>

                    <div>
                        <p class="advanteges__text">
                            Под руководством специалистов, выступающих в качестве менторов, все заинтересованные ребята
                            проходят самые разные курсы обучения. После этого Центр подключает их к текущим проектам или
                            дает новые.
                        </p>

                        <p class="advanteges__text">
                            На текущий момент Центр IT-Притяжения предоставляет помощь в обучении по следующим
                            специальностям:
                        </p>
                    </div>

                </div>

                <div class="advanteges__right">



                </div>

            </div>

        </div>
    </section>

    <!-- devepolers -->
    <section class="devepolers">
        <div class="developers__items">

            <div class="developer__item">

                <div>
                    <p class="developer-title">
                        I
                    </p>
                </div>

                <dvi>
                    <p class="developer-text">
                        Unity 3D developer
                    </p>
                </dvi>

            </div>

            <div class="developer__item">

                <div>
                    <p class="developer-title">
                        I
                    </p>
                </div>

                <dvi>
                    <p class="developer-text">
                        Unity 3D developer
                    </p>
                </dvi>

                <div>
                    <p class="developer-subtext">
                        text
                    </p>
                </div>

            </div>

            <div class="developer__item">

                <div>
                    <p class="developer-title">
                        I
                    </p>
                </div>

                <dvi>
                    <p class="developer-text">
                        Unity 3D developer
                    </p>
                </dvi>

                <div>
                    <p class="developer-subtext">
                        text
                    </p>
                </div>

            </div>

            <div class="developer__item">

                <div>
                    <p class="developer-title">
                        I
                    </p>
                </div>

                <dvi>
                    <p class="developer-text">
                        Unity 3D developer
                    </p>
                </dvi>

                <div>
                    <p class="developer-subtext">
                        text
                    </p>
                </div>

            </div>

            <div class="developer__item">

                <div>
                    <p class="developer-title">
                        I
                    </p>
                </div>

                <dvi>
                    <p class="developer-text">
                        Unity 3D developer
                    </p>
                </dvi>

                <div>
                    <p class="developer-subtext">
                        text
                    </p>
                </div>

            </div>

            <div class="developer__item">

                <div>
                    <p class="developer-title">
                        I
                    </p>
                </div>

                <dvi>
                    <p class="developer-text">
                        Unity 3D developer
                    </p>
                </dvi>

                <div>
                    <p class="developer-subtext">
                        text
                    </p>
                </div>

            </div>

            <div class="developer__item">

                <div>
                    <p class="developer-title">
                        I
                    </p>
                </div>

                <dvi>
                    <p class="developer-text">
                        Unity 3D developer
                    </p>
                </dvi>

                <div>
                    <p class="developer-subtext">
                        text
                    </p>
                </div>

            </div>

            <div class="developer__item">

                <div>
                    <p class="developer-title">
                        I
                    </p>
                </div>

                <dvi>
                    <p class="developer-text">
                        Unity 3D developer
                    </p>
                </dvi>

                <div>
                    <p class="developer-subtext">
                        text
                    </p>
                </div>

            </div>

            <div class="developer__item">

                <div>
                    <p class="developer-title">
                        I
                    </p>
                </div>

                <dvi>
                    <p class="developer-text">
                        Unity 3D developer
                    </p>
                </dvi>

                <div>
                    <p class="developer-subtext">
                        text
                    </p>
                </div>

            </div>

            <div class="developer__item">

                <div>
                    <p class="developer-title">
                        I
                    </p>
                </div>

                <dvi>
                    <p class="developer-text">
                        Unity 3D developer
                    </p>
                </dvi>

                <div>
                    <p class="developer-subtext">
                        text
                    </p>
                </div>

            </div>

            <div class="developer__item">

                <div>
                    <p class="developer-title">
                        I
                    </p>
                </div>

                <dvi>
                    <p class="developer-text">
                        Unity 3D developer
                    </p>
                </dvi>

                <div>
                    <p class="developer-subtext">
                        text
                    </p>
                </div>

            </div>

            <div class="developer__item">

                <div>
                    <p class="developer-title">
                        I
                    </p>
                </div>

                <dvi>
                    <p class="developer-text">
                        Unity 3D developer
                    </p>
                </dvi>

                <div>
                    <p class="developer-subtext">
                        text
                    </p>
                </div>

            </div>



            <div class="developers__btn">
                <button class="btn">
                    Связаться с нами
                </button>
            </div>
        </div>
    </section>

    <!-- projects -->
    <section class="projects">

        <div class="projects__top">

            <div>
                <div class="num__page">

                    <div class="num__page__left">
                        <img src="../media/imgs/main/left-page.png" alt="картинка">
                    </div>

                    <div class="num__page__right">
                        <p class="num__page-text">
                            01
                        </p>
                    </div>

                </div>

                <div>
                    <p>

                    </p>
                </div>
            </div>

            <div class="projects__top__text">
                <p class="projects-title">
                    У нас есть разные проекты
                </p>

                <p class="projects-subtitle">
                    от Казуальных игр до настоящего искуственного интелекта
                </p>
            </div>

        </div>

        <div class="projects__items">

            <div class="projects__item">
                <img class="projects__item-img" src="../media/imgs/projects/1.png" alt="проект">
            </div>

            <div class="projects__item">
                <img class="projects__item-img" src="../media/imgs/projects/1.png" alt="проект">
            </div>

            <div class="projects__item">
                <img class="projects__item-img" src="../media/imgs/projects/1.png" alt="проект">
            </div>

            <div class="projects__item">
                <img class="projects__item-img" src="../media/imgs/projects/1.png" alt="проект">
            </div>

            <div class="projects__item">
                <img class="projects__item-img" src="../media/imgs/projects/1.png" alt="проект">
            </div>

            <div class="projects__item">
                <img class="projects__item-img" src="../media/imgs/projects/1.png" alt="проект">
            </div>

            <div class="projects__item">
                <img class="projects__item-img" src="../media/imgs/projects/1.png" alt="проект">
            </div>

            <div class="projects__item">
                <img class="projects__item-img" src="../media/imgs/projects/1.png" alt="проект">
            </div>

            <div class="projects__item">
                <img class="projects__item-img" src="../media/imgs/projects/1.png" alt="проект">
            </div>

            <div class="projects__item">
                <img class="projects__item-img" src="../media/imgs/projects/1.png" alt="проект">
            </div>

        </div>

        <div class="projects__showAll">
            <a class="projects-showAll btn" href="#">посмотреть всё</a>
        </div>

        <div class="reward__div">
            <p class="reward">
                Награды
            </p>
        </div>


    </section>


    <section class="slider">

        <div class="splide">

            <div class="splide__track">
                <div class="splide__list">
                    <li class="splide__slide">
                        <img class="certificates__item-img" src="../media/imgs/slider/certificat.png" alt="сертификат">
                    </li>
    
                    <li class="splide__slide">
                        <img class="certificates__item-img"
                            src="https://img2.fonwall.ru/o/aw/zakat-pole-kolosya-czoz.jpg" alt="сертификат">
                    </li>
    
                    <li class="splide__slide">
                        <img class="certificates__item-img"
                            src="https://10wallpaper.com/wallpaper/1680x1050/1603/2016_Windows_10_scenery_theme_desktop_wallpaper_04_1680x1050.jpg"
                            alt="сертификат">
                    </li>
    
                    <li class="splide__slide">
                        <img class="certificates__item-img"
                            src="https://i10.fotocdn.net/s113/68b08dbc59f3ce29/public_pin_l/2552876898.jpg"
                            alt="сертификат">
                    </li>
    
                    <li class="splide__slide">
                        <img class="certificates__item-img" src="https://images5.alphacoders.com/688/688755.jpg"
                            alt="сертификат">
                    </li>
    
                    <li class="splide__slide">
                        <img class="certificates__item-img"
                            src="https://i.artfile.ru/4900x3270_660669_[www.ArtFile.ru].jpg" alt="сертификат">
                    </li>
                </div>
            </div>
    
        </div>

    </section>

    <!-- team -->
    <section class="team">
        <div class="container">

            <div class="team__content">

                <div class="team__top">
                    <img src="../media/imgs/team/team.png" alt="картинка">
                </div>

                <div class="team__bottom">

                    <div class="team__bottom-text">
                        <div>
                            <p class="text__block">
                                Центр IT-притяжения аккумулирует вокруг себя множество талантливых специалистов из
                                разных сфер, многие из них являются бывшими учениками. Именно поэтому Центр может
                                позволить себе помощь в обучении в таком количестве профессий. Основные кадры площадки
                                помимо коммерческой разработки также обладают опытом в сфере обучения. Все ученики
                                Центра, как бывшие, так и текущие являются победителями и призерами множества конкурсов,
                                хакатонов и т.д.
                            </p>
                        </div>

                        <div class="team__btn">
                            <button class="team-btn">
                                <div>
                                    <div>
                                        О команде
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>

                    <img class="team__bottom-img" src="../media/imgs/team/fox.png" alt="картинка">

                </div>

            </div>

        </div>
    </section>

     
    
     <!-- footer -->
     <footer class="footer">
        <div class="container">

            <div class="footer__top">

                <div class="footer__icons">

                    <div class="footer__item">

                        <div>
                            <a class="footer__link" href="https://ya.ru/" target="_blank">
                                <img class="footer__img" src="../../media/icons/vk-icon.svg" alt="иконка">
                            </a>
                        </div>

                        <div>
                            <p>
                                VKontakte
                            </p>
                        </div>

                    </div>

                    <div class="footer__item">

                        <div>
                            <a class="footer__link" href="https://ya.ru/" target="_blank">
                                <img class="footer__img" src="../../media/icons/telegramm-icon.svg" alt="иконка">
                            </a>
                        </div>

                        <div>
                            <p>
                                Telegramm
                            </p>
                        </div>

                    </div>

                    <div class="footer__item">

                        <div>
                            <a class="footer__link" href="https://ya.ru/" target="_blank">
                                <img class="footer__img" src="../../media/icons/whatsapp-icon.svg" alt="иконка">
                            </a>
                        </div>

                        <div>
                            <p>
                                WhatsApp
                            </p>
                        </div>
                        
                    </div>

                </div>

                <div class="footer__text">
                    <a class="footer_tel" href="tel:+12312312">
                        +12312312
                    </a>

                    <div class="footer__text-adressDiv">
                        <address>
                            <span>Ростов-на-Дону</span>
                            <p>
                                Пл.Ростовского Стрелкового Полка Народного Ополчения пл, 2,             
                            </p>                
                        </address>
                    </div>
                </div>

            </div>

        </div>
    </footer>



    <script type="text/javascript">
        var splide = new Splide('.splide', {
            perPage: 2,
            cover: true
        });

        splide.mount();
    </script>


    <script src="../static/js/index.js"></script>
    
</body>

</html>