<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, minimum-scale=.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Команада</title>
    <link href="../../static/css/about-team.css" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-data">
            <div class="logo">
                <a href="#" ondragstart="return false"><img class="hover" src="../../media/icons/logoHeader.png" alt="logo"></a>
                <a href="#"><h3>CITG</h3></a>
            </div>
            <div class="nav">
                <ul>
                    <li><a class="hover" href="http://127.0.0.1:8000/">Домой</a></li>
                    <li><a class="hover" href="http://127.0.0.1:8000/projects/">Проекты</a></li>
                    <li><a class="hover" href="#">Портфолио</a></li>
                    <li><a class="hover currentPage" href="#">Команда</a></li>
                </ul>
            </div>
            <div class="mail">
                <a class="hover" href="mailto:itsomemail@mail.com">itsomemail@mail.com</a>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="team container">
        <div class="team__header">
            <h2>О Команде</h2>
            <p>Центр IT-притяжения аккумулирует вокруг себя множество талантливых специалистов из разных сфер, многие из них являются бывшими учениками</p>
        </div>
        <div class="team__list">
            <div class="person-card">
                <div class="person-card__image">
                    <a href="#"><img src="../../media/imgs/project-manager-circle.png" alt="image"></a>
                </div>
                <div class="person-card__info">
                    <h3>Поляниченко Дмитрий</h3>
                    <p>Project Manager</p>
                </div>
                <div class="person-card__link">
                    <a href="#"><img src="../../media/icons/telegram-rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/vk-%20rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/whatsapp-rectangle-icon.svg" alt="image"></a>
                </div>
            </div>
            <div class="person-card">
                <div class="person-card__image">
                    <a href="#"><img src="../../media/imgs/designer-circle.png" alt="image"></a>
                </div>
                <div class="person-card__info">
                    <h3>Бредихин Андрей</h3>
                    <p>illustrator, UI/UX-дизанер</p>
                </div>
                <div class="person-card__link">
                    <a href="#"><img src="../../media/icons/telegram-rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/vk-%20rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/whatsapp-rectangle-icon.svg" alt="image"></a>
                </div>
            </div>
            <div class="person-card">
                <div class="person-card__image">
                    <a href="#"><img src="../../media/imgs/developer-circle.png" alt="image"></a>
                </div>
                <div class="person-card__info">
                    <h3>Федорин Данил</h3>
                    <p>Unity Developer</p>
                </div>
                <div class="person-card__link">
                    <a href="#"><img src="../../media/icons/telegram-rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/vk-%20rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/whatsapp-rectangle-icon.svg" alt="image"></a>
                </div>
            </div>
            <div class="person-card" >
                <div class="person-card__image">
                    <a href="#"><img src="../../media/imgs/3d-artist-circle.jpg " alt="image"></a>
                </div>
                <div class="person-card__info">
                    <h3>Рубцова Софья</h3>
                    <p>3D Artist</p>
                </div>
                <div class="person-card__link">
                    <a href="#"><img src="../../media/icons/telegram-rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/vk-%20rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/whatsapp-rectangle-icon.svg" alt="image"></a>
                </div>
            </div>
            <div class="person-card">
                <div class="person-card__image">
                    <a href="#"><img src="../../media/imgs/3d-artist-n-circle.jpg" alt="image"></a>
                </div>
                <div class="person-card__info">
                    <h3>Жердева Анастасия</h3>
                    <p>3D Artist</p>
                </div>
                <div class="person-card__link">
                    <a href="#"><img src="../../media/icons/telegram-rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/vk-%20rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/whatsapp-rectangle-icon.svg" alt="image"></a>
                </div>
            </div>
            <div class="person-card">
                <div class="person-card__image">
                    <a href="#"><img src="../../media/imgs/vfx-unity-developer-circle.jpg" alt="image"></a>
                </div>
                <div class="person-card__info">
                    <h3>Возьянов Александр</h3>
                    <p>VXF Developer</p>
                </div>
                <div class="person-card__link">
                    <a href="#"><img src="../../media/icons/telegram-rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/vk-%20rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/whatsapp-rectangle-icon.svg" alt="image"></a>
                </div>
            </div>
            <div class="person-card">
                <div class="person-card__image">
                    <a href="#"><img src="../../media/imgs/animator-circle.png" alt="image"></a>
                </div>
                <div class="person-card__info">
                    <h3>Занько Алина</h3>
                    <p>Animator</p>
                </div>
                <div class="person-card__link">
                    <a href="#"><img src="../../media/icons/telegram-rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/vk-%20rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/whatsapp-rectangle-icon.svg" alt="image"></a>
                </div>
            </div>
            <div class="person-card">
                <div class="person-card__image">
                    <a href="#"><img src="../../media/imgs/unity-developer-s-circle.jpg" alt="image"></a>
                </div>
                <div class="person-card__info">
                    <h3>Семен Настенко</h3>
                    <p>Unity Developer</p>
                </div>
                <div class="person-card__link">
                    <a href="#"><img src="../../media/icons/telegram-rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/vk-%20rectangle-icon.svg" alt="image"></a>
                    <a href="#"><img src="../../media/icons/whatsapp-rectangle-icon.svg" alt="image"></a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="container footer-container">
        <div class="links-to-social-networks">
            <div class="soc-nets telegram">
                <a href="#"><img src="../../media/icons/telegramm-icon.svg" alt="image of social network"></a>
                <p>Telegram</p>
            </div>
            <div class="soc-nets VKontakte">
                <a href="#"><img src="../../media/icons/vk-icon.svg" alt="image of social network"></a>
                <p>VKontakte</p>
            </div>
            <div class="soc-nets WhatsApp">
                <a href="#"><img src="../../media/icons/whatsapp-icon.svg" alt="image of social network"></a>
                <p>WhatsApp</p>
            </div>
        </div>
        <div class="contacts">
            <a href="tel:+123-456-789"><h3>+123.456.789</h3></a>
            <p>Ростов-на-Дону</p>
            <p>пл. Ростовского Стрелкового</p>
            <p>Полка Народного Ополочения пл, 2.</p>
        </div>
        <div class="arrow-up">
            <div class="arrow-up-inside">
                <img src="../../media/imgs/arrow-up.svg" alt="image of arrow up">
            </div>
        </div>
    </div>
</footer>

<script src="../../static/js/about_team.js"></script>
</body>
</html>