<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fonsts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Montserrat&display=swap" rel="stylesheet">

    <link href="../../static/css/modules/reset.css" rel="stylesheet">
    <link href="../../static/css/modules/fonts.css" rel="stylesheet">
    <link href="../../static/css/modules/header.css" rel="stylesheet">
    <link href="../../static/css/modules/footer_1.css" rel="stylesheet">

    <link rel="stylesheet" href="../../static/css/common-styles.css">
    <link rel="stylesheet" href="../../static/css/team/team.css">
    <link rel="stylesheet" href="../../static/css/team/gallery.css">

    <link rel="stylesheet" href="../../static/css/splide/splide-core.css">
    <link rel="stylesheet" href="../../static/css/splide/splide.css">

    <link href="../../static/css/modules/custom-cursor.css" rel="stylesheet">
    <script src="../../static/js/custom-cursor.js"></script>

    <script src="../../static/js/libs/splide.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Document</title>
</head>

<body>

    <div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>


    <script src="../../static/js/modules-connect/connect-header.js"></script>

    <!-- main -->
    <section class="main">

        <!-- <header class="header">
            <div class="header__item">
                <div><img class="header__item-logo" src="../../media/icons/logoHeader.png" alt="иконка"></div>
                <div>
                    <p class="header-title">
                        CITG
                    </p>
                </div>
            </div>

            <div class="header__item">
                <nav class="nav">
                    <a class="nav__link" href="http://127.0.0.1:8000/">Домашняя</a>
                    <a class="nav__link" href="http://127.0.0.1:8000/projects/">Проекты</a>
                    <a class="nav__link" href="http://127.0.0.1:8000/profile/{{ request.user.username }}/">Портфолио</a>
                    <a class="nav__link" href="http://127.0.0.1:8000/team/">Команда</a>
                </nav>
            </div>

            <div class="header__item">
                <a class="mail" href="mailto:huy@gmain.com">сontack@gmail.com</a>
            </div>
        </header> -->

        <div class="main__content">

            <div class="main__top">
                <div>
                    <img class="main__top-img" src="../../media/imgs/team-page/main/human.png" alt="картинка">
                </div>

                <div class="main__text">
                    <h3>Андрей Бредихин</h3>
                    <p>2D-artist</p>
                    <a href="mailto:huy@gmain.com">сontack@gmail.com</a>
                </div>
            </div>

            <div class="main__bottom">
                <div class="container">

                    <div class="main__bottom__btn">

                        <button id="btn_portfolio" class="main__btn bgBtn">Портфолио</button>

                    </div>

                    <div class="main__bottom__btn">

                        <button id="btn_gallery" class="main__btn">Галерея</button>

                    </div>

                    <div class="main__bottom__btn">

                        <button id="btn_aboutPerson" class="main__btn">Обо мне</button>

                    </div>


                </div>
            </div>

        </div>

    </section>


    <section class="work">

        <div class="portfolio container item-main">

            <div class="portfolio__subTitle">
                <p>
                    Участие в проектах
                </p>
            </div>

            <div class="slider">

                <div class="splide">

                    <div class="splide__track">
                        <div class="splide__list">
                            {% for project in projects %}

                                <li class="splide__slide">
                                    <a href = "http://127.0.0.1:8000/project/{{ project.id }}/"><img src="{{project.preview_pic.url}}" style="width: 100%"></a>
                                </li>

                            {% endfor %}

                        </div>
                    </div>

                </div>

            </div>

            <div class="work__bottom">

                <div>
                    <p class="work__title">
                        Галерея
                    </p>
                </div>

                <div class="work__bottom__items">

                    <div class="show__gallery">
                        <button id="btn_showGall">посмотреть все</button>
                    </div>

                    <div class="work__bottom__top">

                        <div class="section-gal">
                            <div class="grid">
                                <div class="item item--medium">
                                </div>

                                <div class="item item--large">
                                </div>

                                <div class="item item--large">
                                </div>

                                <div class="item item--full">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="gallery container item-main">

            <div class="section-gal">
                <div class="grid">

                    <div class="item item--min">
                    </div>

                    <div class="item item--large">
                    </div>

                    <div class="item item--medium">
                    </div>

                    <div class="item item--large">
                    </div>

                    <div class="item item--full">
                    </div>

                    <div class="item item--min">
                    </div>

                    <div class="item item--large">
                    </div>

                    <div class="item">
                    </div>

                    <div class="item item--min">
                    </div>

                    <div class="item item--large">
                    </div>

                    <div class="item">
                    </div>

                    <div class="item item--min">
                    </div>

                    <div class="item item--min">
                    </div>

                    <div class="item item--width">
                    </div>

                    <div class="item item--full">
                    </div>

                </div>
            </div>

        </div>

        <div class="resume container item-main">

            <div class="resume__skills">

                <div>
                    <h3>Skills</h3>
                </div>

                <div class="resume__skills__items">

                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>

                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>


                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>

                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>

                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>


                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>


                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>

                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>


                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>

                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>


                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>

                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>


                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>

                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>


                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>

                    <div class="resume__skills__item">

                        <p>
                            UX/UI
                        </p>

                    </div>

                </div>

            </div>

            <!-- slider -->
            <div class="achi">

                <div class="achi__title">
                    <h3>
                        Достижения и награды
                    </h3>
                </div>

                <div class="achi__content">

                    <div class="slider">

                        <div class="splide splide_2">

                            <div class="splide__track">
                                <div class="splide__list">

                                    <li class="splide__slide">
                                        <img src="../../media/imgs/team-page/works/Rectangle 281.png">
                                    </li>

                                    <li class="splide__slide">
                                        <img src="../../media/imgs/team-page/works/Rectangle 279.png">
                                    </li>

                                    <li class="splide__slide">
                                        <img src="../../media/imgs/team-page/works/Rectangle 280.png">
                                    </li>

                                    <li class="splide__slide">
                                        <img src="../../media/imgs/team-page/works/Rectangle 281.png">
                                    </li>

                                    <li class="splide__slide">
                                        <img src="../../media/imgs/team-page/works/Rectangle 282.png">
                                    </li>

                                    <li class="splide__slide">
                                        <img src="../../media/imgs/team-page/works/Rectangle 287.png">
                                    </li>

                                    <li class="splide__slide">
                                        <img src="../../media/imgs/team-page/works/Rectangle 289.png">
                                    </li>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- <div class="resume_contacts">

                <div class="contacts_item">

                    <a href="https://ya.ru/" target="_blank">
                        <img src="../../media/icons/vk-icon.png">
                    </a>

                </div>

                <div class="contacts_item">

                    <a href="https://ya.ru/" target="_blank">
                        <img src="../../media/icons/tg-icon.png">
                    </a>

                </div>

                <div class="contacts_item">

                    <a href="https://ya.ru/" target="_blank">
                        <img src="../../media/icons/what-icon.png">
                    </a>

                </div>

            </div> -->

        </div>

    </section>





    <!-- footer -->
    <!-- <footer class="footer">
        <div class="container">

            <div class="footer__top">

                <div class="footer__icons">

                    <div class="footer__item">

                        <div>
                            <a class="footer__link" href="https://ya.ru/" target="_blank">
                                <img class="footer__img" src="../../media/imgs/footer/vk-icon.svg" alt="иконка">
                            </a>
                        </div>

                        <div>
                            <p>
                                VKontakte
                            </p>
                        </div>

                    </div>

                    <div class="footer__item">

                        <div>
                            <a class="footer__link" href="https://ya.ru/" target="_blank">
                                <img class="footer__img" src="../../media/imgs/footer/tg-icon.svg" alt="иконка">
                            </a>
                        </div>

                        <div>
                            <p>
                                Telegramm
                            </p>
                        </div>

                    </div>

                    <div class="footer__item">

                        <div>
                            <a class="footer__link" href="https://ya.ru/" target="_blank">
                                <img class="footer__img" src="../../media/imgs/footer/what-icon.svg" alt="иконка">
                            </a>
                        </div>

                        <div>
                            <p>
                                WhatsApp
                            </p>
                        </div>
                        
                    </div>

                </div>

                <div class="footer__text">
                    <a class="footer_tel" href="tel:+12312312">
                        +12312312
                    </a>

                    <div class="footer__text-adressDiv">
                        <address>
                            <span>Ростов-на-Дону</span>
                            <p>
                                Пл.Ростовского Стрелкового Полка Народного Ополчения пл, 2,             
                            </p>                
                        </address>
                    </div>
                </div>

            </div>

        </div>
    </footer> -->

    <script src="../../static/js/modules-connect/connect-footer-1.js"></script>


    <script type="text/javascript">
        var splide = new Splide('.splide', {
            perPage: 2,
            cover: true
        });

        splide.mount();
    </script>

    <script type="text/javascript">
        var splide = new Splide('.splide_2', {
            perPage: 2,
            cover: true
        });

        splide.mount();
    </script>

    <script src="../../static/js/team/team-page.js"></script>
</body>

</html>