<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;700&family=Inter:wght@900&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../static/css/modules/reset.css">

    <link rel="stylesheet" href="../../static/css/common-styles.css">
    <link rel="stylesheet" href="../../static/css/team/team.css">
    <link rel="stylesheet" href="../../static/css/team/gallery.css">

    <link rel="stylesheet" href="../../static/css/splide/splide-core.css">
    <link rel="stylesheet" href="../../static/css/splide/splide.css">

    <script src="../../static/js/splide.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Команда</title>
    <link href="../../static/css/modules/header.css" rel="stylesheet">
    <link href="../../static/css/modules/footer_1.css" rel="stylesheet">

    <link href="../../static/css/modules/custom-cursor.css" rel="stylesheet">
    <script src="../../static/js/custom-cursor.js"></script>
</head>

<body>

    <div class="cursor-dot-outline"></div>
    <div class="cursor-dot"></div>


    <header class="header">
        <div class="container header-container">
            <div class="header-data">
                <div class="logo">
                    <a href="http://127.0.0.1:8000/">
                        <div class="header-elements"><img class="hover" src="../../media/icons/logoHeader.png"
                                alt="logo">
                            <h3>CITG</h3>
                        </div>
                    </a>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/">
                                <div class="header-elements" data-hover>Домой</div>
                            </a></li>
                        <li><a href="http://127.0.0.1:8000/projects/">
                                <div class="header-elements" data-hover>Проекты</div>
                            </a></li>
                        <li><a href="http://127.0.0.1:8000/team/">
                                <div class="header-elements" data-hover>Команда</div>
                            </a></li>
                    </ul>
                </div>
                <div class="mail">
                    <a class="hover" href="mailto:itsomemail@mail.com">
                        <div class="header-elements">itsomemail@mail.com</div>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <script src="../../static/js/current-page.js"></script>


    <section id="post-01" class="main ">

        <div class="main__content">

            <div class="main__top">
                <div>
                    <img class="main__top-img" src="{{user.avatar.url}}" alt="картинка">
                </div>

                <div class="main__text">
                    <h3 class="main__title-human">Андрей Бредихин</h3>
                    <p class="main__about">
                        {{jobs|join:", " }}
                    </p>
                </div>

                <div class="skills__icons">
                    {% for soft in software %}
                    <div class="skills__icons-item">
                        <img src="{{soft.icon.url}}" alt="{{ soft.name }}">
                    </div>
                    {% endfor %}
                </div>

            </div>

            <div class="main__bottom" id="post-gallery">
                <div class="container">

                    <div class="main__bottom__items">
                        <div class="main__bottom__btn">

                            <button id="btn_portfolio" class="main__btn bgBtn">Портфолио</button>

                        </div>

                        <div class="main__bottom__btn">

                            <button id="btn_gallery" class="main__btn">Галерея</button>

                        </div>

                        <div class="main__bottom__btn">

                            <button id="btn_aboutPerson" class="main__btn">Обо мне</button>

                        </div>
                    </div>

                    <div class="main__bottom__load">

                        <button id="loadPotfolio">
                            <p class="loadPotfolio-text">Load</p>
                            <p class="loadPotfolio-text">portfolio</p>
                        </button>

                    </div>

                </div>
            </div>

        </div>

    </section>


    <section class="work">

        <div class="portfolio item-main container">


            <div class="portfolio__top__top">

                <div class="portfolio__top ">

                    <div class="portfolio__subTitle">
                        <p class="portfolio--subTitle">
                            Участие в проектах
                        </p>
                    </div>

                    <div class="slider">

                        <div class="splide">

                            <div class="splide__track">
                                <div class="splide__list">
                                    {% for project in projects %}
                                        <li class="splide__slide item" data-text="12333">
                                            <img src="{{project.preview_pic.url}}">
                                            <a href="http://127.0.0.1:8000/project/{{ project.id }}/"
                                            target="_blank"></a>
                                        </li>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>


            <div class="work__bottom__bottom">
                <div class="work__bottom">

                    <div class="work__bottom-text">
                        <p class="work__title">
                            Мои работы
                        </p>

                        <div class="show__gallery">
                            <button id="btn_showGall" href="#post-gallery">Посмотреть ещё</button>
                        </div>

                    </div>

                    <div class="work__bottom__items">

                        <div class="work__bottom__top">

                            <div class="section-gal">
                                <div class="grid">
                                    {% for art in artworks %}
                                    <div class="item" data-text="{{art.about}}" style="background-image: url('{{ art.preview_pic.url }}');">
                                        <div class="more__det_botImgs hide">
                                            {% for pic in art.artwork_images.all %}
                                            <div class="more__det_item">
                                                <img src="{{ pic.image.url }}">
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <div class="item-soft hide">
                                            {% for soft in art.software.all %}

                                            <div class="more_det_soft-item">
                                                <div class="soft_img">
                                                    <img src="{{soft.icon.url}}" alt="картинка">
                                                </div>

                                                <div class="soft_text">
                                                    <p class="title_programm">
                                                        {{ soft.name }}
                                                    </p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                    {% endfor %}


                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="gallery container item-main">

            <div class="section-gal">
                <div class="grid">

                    {% for art in artworks %}
                    <div class="item" data-text="{{art.about}}"
                        style="background-image: url('{{ art.preview_pic.url }}');">

                        <div class="more__det_botImgs hide">
                            {% for pic in art.artwork_images.all %}
                            <div class="more__det_item">
                                <img src="{{ pic.image.url }}">
                            </div>
                            {% endfor %}

                        </div>

                        <div class="item-soft hide">
                            {% for soft in art.software.all %}

                            <div class="more_det_soft-item">
                                <div class="soft_img">
                                    <img src="{{soft.icon.url}}" alt="картинка">
                                </div>

                                <div class="soft_text">
                                    <p class="title_programm">
                                        {{ soft.name }}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                    {% endfor %}
                    {% for pic in pictures %}
                    <div class="item" data-text="Picture"
                        style="background-image: url('{{ pic.image.url }}');">
                    </div>
                    {% endfor %}
                </div>

            </div>
            <div class="gallery__btn">
                <button id="gallery-btn" class="btn">LOAD MORE</button>
            </div>
        </div>



        </div>

        <div class="resume container item-main">

            <div class="resume__skills">

                <div>
                    <h3 class="resume__skills--title">Skills</h3>
                </div>

                <div class="resume__skills__items">
                    {% for skill in user.skills.all %}
                    <div class="resume__skills__item">

                        <p>
                            {{ skill.name }}
                        </p>

                    </div>
                    {% endfor %}

                </div>

            </div>


            <div class="achi">

                <div class="achi__title">
                    <h3 class="achi--title">
                        Достижения и награды
                    </h3>
                </div>

                <div class="achi__content">

                    <div class="slider">

                        <div class="splide splide_2">

                            <div class="splide__track">
                                <div class="splide__list">
                                    {% for ach in achievements %}
                                    <li class="splide__slide item">
                                        <img src="{{ach.image.url}}">
                                    </li>
                                    {% endfor %}

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="resume_contacts">

                <div class="contacts_item">

                    <a href="https://ya.ru/" target="_blank">
                        <img src="../../media/icons/vk-icon.png">
                    </a>

                </div>

                <div class="contacts_item">

                    <a href="https://ya.ru/" target="_blank">
                        <img src="../../media/icons/tg-icon.png">
                    </a>

                </div>

                <div class="contacts_item">

                    <a href="https://ya.ru/" target="_blank">
                        <img src="../../media/icons/what-icon.png">
                    </a>

                </div>

            </div>

        </div>

    </section>


    <footer class="footer">
        <div class="container footer-container">
            <div class="links-to-social-networks">
                <div class="soc-nets telegram">
                    <a href="#">
                        <div>
                            <img src="../../media/icons/telegramm-icon.svg" alt="image of social network">
                            <p>Telegram</p>
                        </div>
                    </a>
                </div>
                <div class="soc-nets VKontakte">
                    <a href="#">
                        <div>
                            <img src="../../media/icons/vk-icon.svg" alt="image of social network">
                            <p>VKontakte</p>
                        </div>
                    </a>
                </div>
                <div class="soc-nets WhatsApp">
                    <a href="#">
                        <div>
                            <img src="../../media/icons/whatsapp-icon.svg" alt="image of social network">
                            <p>WhatsApp</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="contacts">
                <a href="tel:+123-456-789">+123.456.789</a>
                <p>Ростов-на-Дону</p>
                <p>пл. Ростовского Стрелкового</p>
                <p>Полка Народного Ополочения пл, 2.</p>
            </div>
        </div>
    </footer>

    <div class="arrow-up">
        <div class="arrow-up-inside">
            <a id="toFirst" href="#post-01">
                <img src="../../media/imgs/arrow-up.svg" alt="image of arrow up">
            </a>
        </div>
    </div>


    <div class="popup__bg">

        <div class="popup">

            <div class="popup_leftImg">
                <img id="popup-img" src="" alt="картинка" style="width: 100%">
            </div>

        </div>

        <div class="modal__imgClose-img">
            <img src="../../media/icons/icon-close-modal.svg" alt="картинка">
        </div>

    </div>


    <div class="Mpopup__bg">

        <div class="Mpopup">

            <div class="more__det">

                <div class="more__det__imgs">

                    <div>
                        <img id="main__popup_img" src="">
                    </div>

                    <div id="more__det_botImgs" class="more__det_botImgs">


                    </div>

                </div>

                <div class="more__det__close">
                    <img id="more_det-close" src="../../media/icons/close-icon.svg" alt="иконка">
                </div>

                <div class="more__det__info">

                    <div class="more_det_top">

                        <div class="more_det_img">
                            <img src="../../media/imgs/team-page/main/human.png" alt="каритнка">
                        </div>

                        <div>
                            <p class="person_name">
                                Андрей Бредихин
                            </p>
                        </div>

                    </div>

                    <div class="more_det_item">

                        <div>
                            <p class="more_det_title">
                                About work
                            </p>
                        </div>

                        <div class="more_det_text">
                            <p class="more_det-text">

                            </p>
                        </div>

                    </div>

                    <div class="more_det_item">

                        <div>
                            <p class="more_det_title">
                                Next work
                            </p>
                        </div>

                        <div class="more_det__work">

                            <div class="more_det_work">
                                <img id="prev_img" src="../../media/icons/modal-work/next-icon.svg" alt="картинка">

                                <img id="prev_img1" src="../../media/icons/modal-work/next-icon.svg" alt="картинка">
                            </div>

                            <div class="more_det_work">
                                <img id="next_img" src="../../media/icons/modal-work/next-icon.svg" alt="картинка">

                                <img id="next_img1" src="../../media/icons/modal-work/next-icon.svg" alt="картинка">
                            </div>

                        </div>

                    </div>

                    <div class="more_det_item">

                        <div>
                            <p class="more_det_title">
                                Software Used
                            </p>
                        </div>

                        <div id="more_det_soft">



                        </div>

                    </div>

                    <div class="more_det_item">

                        <div>
                            <p class="more_det_title">
                                Contact
                            </p>
                        </div>

                        <div class="more_det_links">

                            <div class="more_det_link-item">
                                <a class="more_det_link" href="https://ya.ru/" target="_blank">
                                    <img class="more_det_img" src="../../media/icons/vk-icon.png" alt="иконка">
                                </a>
                            </div>

                            <div class="more_det_link-item">
                                <a class="more_det_link" href="https://ya.ru/" target="_blank">
                                    <img class="more_det_img" src="../../media/icons/tg-icon.png" alt="иконка">
                                </a>
                            </div>


                            <div class="more_det_link-item">
                                <a class="more_det_link" href="https://ya.ru/" target="_blank">
                                    <img class="more_det_img" src="../../media/icons/what-icon.png" alt="иконка">
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>



    <script type="text/javascript">
        var splide = new Splide('.splide', {
            type: 'loop',
            perPage: 2,
            cover: true
        });

        splide.mount();
    </script>

    <script type="text/javascript">
        var splide = new Splide('.splide_2', {
            type: 'loop',
            cover: true
        });

        splide.mount();
    </script>

    <script src="../../static/js/team/team-page.js"></script>
</body>

</html>